<div class="contenedor-mayor">
   <div  class="dialogo bg-light p-1" >
        <div class="dialogoHeader d-flex justify-content-between">
          <div></div>
          <div class="titulo text-center" ><h5> Nombre cursada: {{cursadaSeleccionada.nombre}}</h5></div>
          
          <span class="btn btn-danger" (click)="clickBtnCerrar()"><i class="fas fa-times"></i></span>
      
        </div>
         <div class="dialogoBody pt-3 text-center"  >
             <table class="table table-hover bg-light" >
                <thead class="thead-light">
                    <tr class="zui-sticky-row" >
                      <th class="zui-sticky-col" >Alumnos</th>
                      <th *ngFor="let examen of examenesDeCursada" > Examen {{examen.nroExamen}} <button class="btn-danger" *ngIf= "esUltimoExamen(examen.nroExamen)" (click)="clickBorrarExamen()" ><i class="fas fa-times"></i></button></th>
                      <th style="width: 150px">Promedio 
                      </th>
                    </tr>
                </thead>
                    <tbody >
                      <tr *ngFor="let fila of filas;">
                        <td class="zui-sticky-col">{{fila.nombreAlumno}}</td>
                        <td *ngFor="let notaE of fila.notas;"  >
                           <p-spinner size="10" [(ngModel)]="notaE.nota" [min]="0" [max]="10" [step]="0.25" [disabled]="notaE.deshabilitado" ></p-spinner> 
                          
                        </td>
                        <td >{{calcularPromedio(fila)}}</td>
                       
                      </tr>
                      <tr >
                        <td class="zui-sticky-col"></td>
                        <td *ngFor="let cali of calificaciones; let i=index">
                            <button class="btn btn-primary float-left " (click)="habilitarColumna(i)" >
                                <span *ngIf="!cali.calificar" >Calificar </span>
                                <span *ngIf="cali.calificar" >Aceptar </span>
                          </button>
                        </td>
                        <td ></td>
                       
                      </tr>
                    </tbody>
                  </table> 
        </div> 
        <div class="dialogoFooter" >
            <button class="btn btn-primary float-left " (click)="agregarExamen()">
                  <span >Agregar examen </span>
            </button>
        </div>
      </div>
    </div>
    <ng4-loading-spinner></ng4-loading-spinner>
  