<div class="contenedor-mayor">
<div class="contenedor d-flex justify-content-center align-items-center justify-content-center">
  <div  class="dialogo bg-light p-1">
    <div class="dialogoHeader d-flex justify-content-between">
      <div></div>
      <div class="titulo text-center" ><h5> {{ titulo }} </h5></div>
      <span class="btn btn-danger" (click)="clickBtnCerrar()"><i class="fas fa-times"></i></span>
    </div>
    <div class="dialogoBody p-3 pt-3 text-center">
      <div id='calendar'></div>
    </div>
    <div class="dialogoFooter" >
      <div style="padding:5px;background-color:#0B610B;width: 80px;"> Tentativo </div>
      <div style="padding:5px;background-color:#FF0000;width: 80px;"> Definitivo </div> 
    </div>
  </div>
</div>
</div>