<div class="card mt-4 w-50 mx-auto">
  <div class="card-head">
  </div>
  <div class="card-body">
      <div class="input-group py-4 col-5">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">{{ _LABEL.alumno }}</span>
          </div>
          <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          <div class="input-group-append">
            <button class="btn btn-success" (click)="nuevoAlumno()"><span>{{ _LABEL.agregar }}</span></button>
          </div>
          
      </div>
    
  
  
  
  
  </div>
  <div class="card-foot">pie</div>
</div>