.card{
    height: 75vh;
}

.contenedorFormulario{
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(104, 104, 104,0.8); 
}


.card-head{
    border-bottom: solid 1px rgba(82, 82, 82, 0.2);
}

.contenedor{
    height: 75vh;
    overflow-y: scroll;
    border: none;
}
.table-responsive{
    overflow-y: scroll;
    max-height: 75vh;
}

.estilo-reloj {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }