<div class="p-0">
  <div class="bg-light">
      <div class="input-group py-4 col-5">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Filtrar</span>
          </div>
          <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="busqueda">
          <div class="input-group-append">
            <button class="btn btn-success" (click)="nuevoContacto()"><span>{{ tituloNuevoContacto}}</span></button>
          </div>
      </div>
      <div class="table-responsive">
          <table class="table table-hover bg-light">
              <thead class="thead-light">
                <tr>
                  <th>Fecha</th>
                  <th>Alumno</th>
                  <th>Título</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let contacto of contactos | search: {fecha: busqueda, nombreAlumno: busqueda, titulo: busqueda}" >
                  <td> {{ contacto.fecha }}</td>
                  <td> {{ contacto.nombreAlumno }} </td>
                  <td> {{ contacto.titulo }} </td>
                  <td>
                    <span class="btn btn-success mr-2" (click)="editarContacto(); contactoSeleccionado = contacto">
                      <i class="fas fa-edit"></i>
                    </span>
                    <span class="btn btn-danger" (click)=" contactoSeleccionado = contacto; mostrarDialogoEliminar()">
                      <i class="fas fa-minus-circle"></i>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
</div>



<formulario-contacto></formulario-contacto>