.card{
    height: 75vh;
}

.contenedorFormulario{
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(104, 104, 104,0.8); 
}


.card-head{
    border-bottom: solid 1px rgba(82, 82, 82, 0.2);
}

.contenedor{
    height: 75vh;
    overflow-y: scroll;
    border: none;
}