<!-- header de la sección -->
<div class="d-flex justify-content-between p-4 bg-light header" >
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Nombre Administrativo</span>
      <p-dropdown [options]="administrativos" [(ngModel)]="selectedAdministrativo" [filter]="true" optionLabel="nombre" [style]="{'width':'250px','height':'38px'}" (onChange)="onChange($event)"></p-dropdown>
    </div>
    <!-- (onChange)="refrescarTareas()"  -->
    <div>
      <button 
            class="btn btn-success"
            (click)="nuevaTarea()">
            {{ _LABEL.nuevaTarea }}
      </button>
    </div>
</div>
      
<div class="contenedorTablas">

<!-- Comienzo Tabla de todas las tareas pendientes para hoy-->          
<div class="bg-light p-4">
    <h5 style="text-align: left;color: #9b59b6; border-bottom: solid 3px #9b59b6;">Pendientes personales para hoy <i class="fas fa-exclamation-circle"></i></h5>
    <p-table *ngIf="hayTareasPersonalesParaHoy()" #dt [columns]="cols" [value]="tareasPersonalesParaHoy" [scrollable]="true" scrollHeight="70vh" [resizableColumns]="true">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" pResizableColumn>
              {{col.header}}
            </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" class="ui-resizable-column" [ngSwitch]="col.field">
              <span *ngSwitchCase="'fechaEstimada'">
                  {{ _UTIL.convertirTimestamp(rowData.fechaEstimada) }}
              </span>
              <span *ngSwitchCase="'titulo'">
                  {{ rowData.titulo}}
              </span>
              <span *ngSwitchCase="'info'">
                  <button *ngIf="rowData.contacto!=undefined" class="btn btn-warning mr-2"
                          (click)="mostrarDetalleTarea(rowData)">
                          <i class="fas fa-info"></i>
                  </button>
              </span>
              <span *ngSwitchCase="'acciones'">
                  <button
                            class="btn btn-success mr-2"
                            (click)="finalizarTarea(rowData);"
                            [title]="_LABEL.marcarComoResuelta"
                            >
                    <i class="fas fa-clipboard-check"></i>
                  </button>
              </span>
          </td>
        </tr>
      </ng-template>
  </p-table>
    <div *ngIf="! hayTareasPersonalesParaHoy()">
        {{ _LABEL.sinTareas }}
    </div>
  </div>
  <!-- Fin Tabla de todas las tareas pendientes para hoy-->    




          
<!-- Comienzo Tabla pendientes del administrativo seleccionado-->          
<div class="bg-light p-4">
    <h5 style="text-align: left; color: #e74c3c; border-bottom: solid 3px #e74c3c">Pendientes para {{ selectedAdministrativo.nombre }}</h5>
    <p-table *ngIf="hayTareasPersonalesPendientes()" #dt [columns]="cols" [value]="tareasPersonalesPendientes" [scrollable]="true" scrollHeight="70vh" [resizableColumns]="true">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" pResizableColumn>
              {{col.header}}
            </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" class="ui-resizable-column" [ngSwitch]="col.field">
              <span *ngSwitchCase="'fechaEstimada'">
                  {{ _UTIL.convertirTimestamp(rowData.fechaEstimada) }}
              </span>
              <span *ngSwitchCase="'titulo'">
                  {{ rowData.titulo}}
              </span>
              <span *ngSwitchCase="'info'">
                  <button class="btn btn-warning mr-2"
                          (click)="mostrarDetalleTarea(rowData)">
                          <i class="fas fa-info"></i>
                  </button>
              </span>
              <span *ngSwitchCase="'acciones'">
                  <button
                            class="btn btn-success mr-2"
                            (click)="finalizarTarea(rowData);"
                            [title]="_LABEL.marcarComoResuelta"
                            >
                    <i class="fas fa-clipboard-check"></i>
                  </button>
              </span>
          </td>
        </tr>
      </ng-template>
  </p-table>
    <div *ngIf="! hayTareasPersonalesPendientes()">
        {{ _LABEL.sinTareas }}
    </div>
</div>

<!-- Fin Tabla pendientes del administrativo seleccionado-->          








<!-- Comienzo Tabla completadas del administrativo seleccionado-->          
<div class="bg-light p-4">
  <h5 style="text-align: left;color: #2ecc71; border-bottom: solid 3px #2ecc71;">Completadas por {{ selectedAdministrativo.nombre }}</h5>
  <p-table *ngIf="hayTareasPersonalesCompletadas()" #dt [columns]="cols" [value]="tareasPersonalesCompletadas" [scrollable]="true" scrollHeight="70vh" [resizableColumns]="true">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" pResizableColumn>
            {{col.header}}
          </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns" class="ui-resizable-column" [ngSwitch]="col.field">
            <span *ngSwitchCase="'fechaEstimada'">
                {{ _UTIL.convertirTimestamp(rowData.fechaEstimada) }}
            </span>
            <span *ngSwitchCase="'titulo'">
                {{ rowData.titulo}}
            </span>
            <span *ngSwitchCase="'info'">
                <button *ngIf="rowData.contacto!=undefined" class="btn btn-warning mr-2"
                        (click)="mostrarDetalleTarea(rowData)">
                        <i class="fas fa-info"></i>
                </button>
            </span>
            <span *ngSwitchCase="'acciones'">
                <button
                    class="btn btn-danger mr-2"
                    (click)="restaurarTarea(rowData);"
                    [title]="_LABEL.marcarComoPendiente"
                    >
                  <i class="fas fa-angle-double-left"></i>
                </button>
            </span>
        </td>
      </tr>
    </ng-template>
</p-table>
<div *ngIf="! hayTareasPersonalesCompletadas()">
        {{ _LABEL.sinTareas }}
    </div>
</div>
<!-- Fin Tabla completadas del administrativo seleccionado-->          






<!-- Comienzo Tabla de todas las tareas pendientes-->          
<div class="bg-light p-4">
  <h5 style="text-align: left;color: #f39c12; border-bottom: solid 3px #f39c12;">Todas las pendientes</h5>
  <p-table *ngIf="hayTareasPendientes()" #dt [columns]="colsTodas" [value]="tareasPendientes" [scrollable]="true" scrollHeight="70vh" [resizableColumns]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" pResizableColumn>
                {{col.header}}
              </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns" class="ui-resizable-column" [ngSwitch]="col.field">
                <span *ngSwitchCase="'fechaEstimada'">
                        {{ _UTIL.convertirTimestamp(rowData.fechaEstimada) }}
                </span>
                <span *ngSwitchCase="'administrativo'">
                    {{ rowData.administrativo.nombre}}
                </span>
                <span *ngSwitchCase="'info'">
                    <button *ngIf="rowData.contacto!=undefined" class="btn btn-warning mr-2"
                            (click)="mostrarDetalleTarea(rowData)">
                            <i class="fas fa-info"></i>
                    </button>
                </span>
                <span *ngSwitchCase="'acciones'">
                    <button
                        class="btn btn-success mr-2"
                        (click)="finalizarTarea(rowData);"
                        [title]="_LABEL.marcarComoResuelta"
                        >
                        <i class="fas fa-clipboard-check"></i>
                    </button>
                </span>
                <span *ngSwitchDefault>
                    {{ rowData[col.field] }}
                </span>
                
            </td>
        </tr>
        </ng-template>
    </p-table>
    <div *ngIf="! hayTareasPendientes()">
        {{ _LABEL.sinTareas }}
    </div>
</div>
<!-- Fin Tabla de todas las tareas pendientes-->          



<!-- Finaliza el contenedor de la tabla:  -->
</div> 





































<!-- Formulario para crear una tarea nueva  -->
<dialogo-confirmacion
    *ngIf="mostrarDialogoNuevaTarea"
    [botonCancelar]="false"
    [botonAceptar]="false"
    (clickBotonCerrar)="ocultarDialogo()"
    [titulo]="_LABEL.nuevaTarea"
    

>

    <div class="row form-group">
        <div class="col mr-2">
            <label class="d-flex">{{ _LABEL_R.fecha}}</label>
            <ng-datepicker
            [options]="options"
            [(ngModel)]="fechaTarea"
            style="z-index: 1000; position: relative;"
            >
            </ng-datepicker>
        </div>
        <div class="col">
          <label class="d-flex">{{ _LABEL_R.titulo }}</label>
          <input
                    type="text"
                    class="form-control"
                    #titulo="ngModel"
                    required
                    [(ngModel)]="tareaSeleccionada.titulo"
                    [placeholder]="_LABEL.ingrese.asunto    "
                    >
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
          <label class="d-flex">{{ _LABEL.descripcion }}</label>
          <textarea
                    class="form-control"
                    rows="2"
                    #descripcion="ngModel"
                    required
                    [(ngModel)]="tareaSeleccionada.descripcion"
                    [placeholder]="_LABEL.ingrese.descripcion"
                    
        ></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col d-flex justify-content-end">
            <button class="btn btn-primary" (click)="guardarTarea()">{{ _LABEL.guardar }}</button>
        </div>
    </div>


</dialogo-confirmacion>








<dialogo-info
    *ngIf="mostrandoDetalleTarea"
    (clickBotonCerrar)="ocultarDetalleTarea()"
    (clickBotonOk)="ocultarDetalleTarea()"
    [title]="_LABEL.detalleTarea"
    titulo="Detalle de tarea"
    [subtituloIzquierdo]="_UTIL.convertirTimestamp(tareaSeleccionada.fechaEstimada)"
    [subtituloDerecho]="tareaSeleccionada.titulo"
    [texto]="tareaSeleccionada.descripcion"                        
>

</dialogo-info>















<dialogo-confirmacion
    *ngIf="mostrandoDialogoOfrecerContacto"
    (clickBotonCerrar)="ocultarDialogo()"
    titulo="Usted ha resuleto una tarea"
    texto="¿Desea crear un nuevo contacto?"
    (clickBotonCerrar)="ocultarDialogoOfrecerContacto()"
    (clickBotonIzquierdo)="ocultarDialogoOfrecerContacto()"
    (clickBotonDerecho)="generarNuevoContacto()"
>

</dialogo-confirmacion>