<!-- Comienzo de tabla -->
<div class="content-section implementation ui-fluid">
  <p-table #dt [columns]="cols" [value]="tareas" [scrollable]="true" scrollHeight="70vh" [resizableColumns]="true">
      <ng-template pTemplate="caption">
          <div class="input-group py-4 col-5">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Nombre Administrativo</span>
              </div>
              <p-dropdown [options]="administrativos" [(ngModel)]="selectedAdministrativo" [style]="{'width':'250px','height':'38px'}" (onChange)="refrescarCursadas()" ></p-dropdown>
          </div>
        <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" [placeholder]="_LABEL.buscar" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            <button class="btn btn-success"
                    (click)="nuevaTarea()">
                    <span>{{ _LABEL.nuevaTarea }}</span>
            </button>
          </div>
          <h5 style="text-align: left">Tareas pendientes</h5>
        </ng-template>
        
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.width">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" pResizableColumn>
              {{col.header}}
            </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" class="ui-resizable-column" [ngSwitch]="col.field">
              <span *ngSwitchCase="'fechaEstimada'">
                  {{ _UTIL.convertirTimestamp(rowData.fechaEstimada) }}
              </span>
              <span *ngSwitchCase="'titulo'">
                  {{ rowData.titulo}}
              </span>
              <span *ngSwitchCase="'descripcion'">
                  {{ rowData.descripcion }}
              </span>
              <span *ngSwitchCase="'contacto'">
                  <button *ngIf="rowData.contacto!=undefined" class="btn btn-warning mr-2"
                          (click)="mostrarContacto(rowData)">
                          <i class="fas fa-info"></i>
                  </button>
              </span>
              <span *ngSwitchCase="'acciones'">
                  <button class="btn btn-success mr-2" (click)="finalizarTarea(rowData);">
                    <i class="fas fa-clipboard-check"></i>
                  </button>
              </span>
          </td>
        </tr>
      </ng-template>

  </p-table>
</div>

<!-- Fin de tabla -->