<div class="contenedor-mayor">
      <div  class="dialogo bg-light p-1">
        <div class="dialogoHeader d-flex justify-content-between">
          <div></div>
          <div class="titulo text-center" ><h5> Nombre cursada: {{cursadaSeleccionada.nombre}}</h5></div>
          <span class="btn btn-danger" (click)="clickBtnCerrar()"><i class="fas fa-times"></i></span>
        </div>
        <div class="dialogoBody pt-3 text-center">
            <table class="table table-hover bg-light"  >
                <thead class="thead-light">
                    <tr>
                      <th class="zui-sticky-col">Alumnos</th>
                      <th *ngFor="let clase of clasesCursada" >{{ _Util.convertirTimestamp(clase.fecha)}}</th>
                      <th style="width: 150px">Total Inasistencia 
                      </th>
                    </tr>
                </thead>
                    <tbody >
                      <tr *ngFor="let fila of filas;">
                        <td class="zui-sticky-col">{{fila.nombreAlumno}}</td>
                        <td *ngFor="let asist of fila.asistencia;"  >
                          <p-dropdown [options]="opcAsistencia" [(ngModel)]="asist.estado" optionLabel="opc" [disabled]="asist.deshabilitado"></p-dropdown>
                          
                        </td>
                        <td >{{calcularFaltas(fila)}}</td>
                       
                      </tr>
                      <tr >
                        <td class="zui-sticky-col"></td>
                        <td *ngFor="let asistBtn of botonAsistencia; let i=index">
                            <button class="btn btn-primary float-left " (click)="habilitarColumna(i)" >
                                <span *ngIf="!asistBtn.tomarAsistencia" >Tomar Asistencia </span>
                                <span *ngIf="asistBtn.tomarAsistencia" >Guardar </span>
                          </button>
                        </td>
                        <td ></td>
                       
                      </tr>
                    </tbody>
                  </table>
             </div>    
      </div>
    </div>
    <ng4-loading-spinner></ng4-loading-spinner>