<div class="contenedor-mayor">
      <div  class="dialogo bg-light p-1">
        <div class="dialogoHeader d-flex justify-content-between">
          <div></div>
          <div class="titulo text-center" ><h5> Nombre cursada: Laboratorio</h5></div>
          <span class="" ></span>
        </div>
        <div class="dialogoBody p-3 pt-3 text-center">
            <table class="table table-hover bg-light"  >
                <thead class="thead-light">
                    <tr>
                      <th class="zui-sticky-col">Alumnos</th>
                      <th *ngFor="let fecha of clases" >{{fecha.fecha}}</th>
                    </tr>
                </thead>
                    <tbody >
                      <tr>
                        <td class="zui-sticky-col">Jorge Rearte</td>
                        <td *ngFor="let fecha of clases" ><p-checkbox [(ngModel)]="value1" binary="true"></p-checkbox>
                        </td>
                        
                      </tr>
                      <tr>
                          <td class="zui-sticky-col">Zacarias Samaniego</td>
                          <td *ngFor="let fecha of clases" ><p-checkbox [(ngModel)]="valueA1" binary="true"></p-checkbox>
                          </td>
                         
                        </tr>
                        <tr>
                            <td class="zui-sticky-col">Marcelo Cuevas</td>
                            <td *ngFor="let fecha of clases" ><p-checkbox [(ngModel)]="valueB1" binary="true"></p-checkbox>
                            </td>
                            
                          </tr>
                          <tr>
                              <td class="zui-sticky-col">Gonzalo Cardoso</td>
                              <td *ngFor="let fecha of clases" ><p-checkbox [(ngModel)]="valueC1" binary="true"></p-checkbox>
                              </td>
                              
                            </tr>
                            <tr>
                                <td class="zui-sticky-col">Juan Moyano</td>
                                <td *ngFor="let fecha of clases" ><p-checkbox [(ngModel)]="valueD1" binary="true"></p-checkbox>
                                </td>
                                
                              </tr>
        
                    </tbody>
                  </table>
        </div>
        
            <button class="btn btn-primary float-right " (click)="clickBtnCerrar()">
                <span >Guardar</span>
              </button>
        
      </div>
    </div>