.contenedor-formulario{
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: rgb(104, 104, 104,0.3);
}
.contenedor-info{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(104, 104, 104,0.8);
  }
  .dialogo{
    border-radius: 5px;
    width: 300px;
    height: auto;
    margin: auto;
    margin-top: 15vh;

  }
  .dialogoHeader{
    padding-bottom: 2px;
    border-bottom: 1px solid #0003;
  }
.table-responsive{
  overflow-y: scroll;
  max-height: 75vh;
}