<!-- Comienzo de tabla -->
<div class="content-section implementation ui-fluid">
    <p-table #dt [columns]="cols" [value]="salas" [scrollable]="true" scrollHeight="70vh" [resizableColumns]="true">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" [placeholder]="_LABEL.buscar" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
              <button class="btn btn-success"
                      (click)="nuevaSala()">
                      <span>{{ _LABEL.nuevaSala }}</span>
              </button>
            </div>
          </ng-template>
          
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" pResizableColumn>
                {{col.header}}
              </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns" class="ui-resizable-column" [ngSwitch]="col.field">
                <span *ngSwitchCase="'nombre'">
                    {{ rowData.nombre }}
                </span>
                <span *ngSwitchCase="'capacidad'">
                    {{ rowData.capacidad }}
                </span>
                <span *ngSwitchCase="'disponibilidad'">
                    <button class="btn btn btn-info" (click)="verCalendario(rowData)">
                      <i class="far fa-calendar-check"></i>
                    </button>
                </span>
                <span *ngSwitchCase="'acciones'">
                    <button class="btn btn-success mr-2" (click)="editarSala(rowData);">
                        <i class="fas fa-user-edit"></i>
                    </button>
                    <button class="btn btn-danger" (click)="mostrarDialogoEliminar(rowData)">
                      <i class="fas fa-user-times"></i>
                    </button>
                </span>
            </td>
          </tr>
        </ng-template>
  
    </p-table>
  </div>
  
  <!-- Fin de tabla -->









<!--Dialogo eliminacion-->
<dialogo-confirmacion *ngIf="mostrarDialogoBorrar"
                      (clickBotonCerrar)="ocultarDialogo()"
                      (clickBotonIzquierdo)="ocultarDialogo()"
                      (clickBotonDerecho)="eliminar()"
                      [titulo]="dlg.titulo"
                      [texto]="dlg.texto"
                      >

</dialogo-confirmacion>
<dialogo-info *ngIf="mostrarDialogoErrorBorrar"
        (clickBotonCerrar)="ocultarDialogoError()"
        (clickBotonOk)="ocultarDialogoError()"
        [titulo]="dlg2.titulo"
        [texto]="dlg2.texto">

</dialogo-info>
<dialogo-info *ngIf="mostrarDialogoErrorEditar"
        (clickBotonCerrar)="ocultarDialogoError()"
        (clickBotonOk)="ocultarDialogoError()"
        [titulo]="dlg2.titulo"
        [texto]="dlg2.texto">

</dialogo-info>
<calendario-disponibilidad *ngIf="mostrarCalendario"
(clickBotonCerrar)="ocultarCalendario()"
[id]= salaSeleccionada.id
[esSala]=true
[esInstructor]= false
></calendario-disponibilidad>

<ng4-loading-spinner></ng4-loading-spinner>


  <!-- Formulario-->
  <div class="contenedor-formulario" *ngIf="mostrarDialogoAB">
  <div class="card mt-4 w-50 mx-auto">
      <div class="card-head d-flex  w-100 justify-content-between">
        <div></div>
        <div class="pt-2">
          <h5 *ngIf="!edicion" class="">{{ _LABEL.nuevaSala}}</h5>
          <h5 *ngIf="edicion" class="">{{ _LABEL.edicionSala}}</h5>
        </div>
        <span class="btn btn-danger" (click)="ocultarDialogo()"><i class="fas fa-times"></i></span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col">
            <label for="nombre">{{ _LABEL_REQUIRED.nombre }}</label>
            <input
                      #nombre = "ngModel"
                      class="form-control"
                      type="text"
                      required
                      minlength="3"
                      maxlength="30"
                      [(ngModel)]="salaSeleccionada.nombre"
                      [placeholder]="_LABEL.ingrese.nombre"
                      >
            <div  *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
              <div *ngIf="nombre.errors.required">{{ _VALIDACION.requerido.nombre }}</div>
              <div *ngIf="nombre.errors.minlength">{{ _VALIDACION.minimoTres }}</div>
            </div>
          </div>
        </div>
          <div class="row">
            <div class="form-group col">
                <h6>{{ _LABEL_REQUIRED.capacidad }}</h6>
               
                <p-spinner size="30" [(ngModel)]="salaSeleccionada.capacidad" placeholder="Ingrese la capacidad" [min]="0" [max]="300"></p-spinner>

            </div>
          </div>
        
        <button class="btn btn-primary float-right " [disabled]="nombre.invalid || capacidadInvalida()" (click)="guardar()">
          <span *ngIf="edicion">{{ _LABEL.guardar }}</span>
          <span *ngIf="!edicion">{{ _LABEL.agregar }}</span>
        </button>
  
</div>
