<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4 col-md-4" *ngIf="edicion">
        <div class="card mt-4">
            <div class="card-head">
              <span class="btn btn-danger float-right" (click)="edicion = false"><i class="fas fa-times"></i></span>
            </div>
            <div class="card-body">
                <div class="card-title">
                  Agregue un nuevo cliente
                </div>
              <div class="form-group">
                <input  #name="ngModel"
                        class="form-control"
                        type="text"
                        [(ngModel)]="clienteSeleccionado.name"
                        placeholder="Ingrese nombre"
                        >
                <span *ngIf="!name.isValid && name.touched">Debe ingresar un nombre válido</span>
              </div>
              <div class="form-group">
                <input  class="form-control"
                        [(ngModel)]="clienteSeleccionado.lastname"
                        type="text"
                        required
                        placeholder="Ingrese apellido"
                        name=""
                        id="">
                      </div>
              <div class="form-group">
                <input  class="form-control"
                        type="text"
                        [(ngModel)]="clienteSeleccionado.email"
                        placeholder="Ingrese email"
                        name=""
                        id="">
                      </div>
              <div class="form-group">
                <input  class="form-control"
                        [(ngModel)]="clienteSeleccionado.phone"
                        type="text"
                        placeholder="Ingrese teléfono"
                        name=""
                        id="">
              </div>
              <button class="btn btn-primary" (click)="guardar()">Agregar</button>
          </div>
    </div>
  
    </div>
    <div class="col-xs-8 col-md-8">
        <div class="container p-0">
            <table class="table table-hover mt-4 bg-light">
              <thead class="thead-light">
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Email</th>
                  <th>Teléfono</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cliente of clientes" >
                  <th scope="row"> {{ cliente.id }} </th>
                  <td> {{ cliente.name }} </td>
                  <td> {{ cliente.lastname }} </td>
                  <td> {{ cliente.email }} </td>
                  <td> {{ cliente.phone }} </td>
                  <td>
                    <span class="btn btn-success mr-2" (click)="edicion = true; clienteSeleccionado = cliente">
                      <i class="fas fa-edit"></i>
                    </span>
                    <span class="btn btn-danger" (click)="clienteSeleccionado = cliente; mostrarDialogoEliminar()">
                      <i class="fas fa-minus-circle"></i>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
  </div>  
  
  <button (click)="eliminar()">Eliminar</button>
  <button (click)="nuevoCliente()">Agregar</button>
  <button (click)="actualizar()">Actualizar</button>
  <button (click)="obtenerCliente()">ObtenerCliente2</button>
</div>


<dialogo-confirmacion *ngIf="mostrarDialogo"
                      (clickBotonCerrar)="ocultarDialogo()"
                      (clickBotonIzquierdo)="ocultarDialogo()"
                      (clickBotonDerecho)="eliminar()"
                      [titulo]="dlg.titulo"
                      [texto]="dlg.texto"
                      >

</dialogo-confirmacion>
<ng4-loading-spinner></ng4-loading-spinner>
