
<div><header>
  <img version="1.1"
  baseProfile="full"
  width="500" height="300"
  xmlns="http://www.w3.org/2000/svg" 
  src="src/logoFormar.svg" class="logo">
    
  </header>
</div>
<!--<div class="container-fluid bg-inactive pt-3">-->
    
  
  <div class="container-fluid">
      <div class="p-0">
          <div class="bg-light">
              <div class="input-group py-4 col-5">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Nombre Instructor</span>
                  </div>
                  <p-dropdown [options]="instructores" [(ngModel)]="selectedInstructores" optionLabel="nombre" [style]="{'width':'250px','height':'38px'}"  ></p-dropdown>
  
      
                  
              </div>
              <div class="example-container mat-elevation-z8">
                <p-table [columns]="cols" [value]="cursadas"[scrollable]="true" scrollHeight="450px"  >
                  <ng-template pTemplate="header" let-columns>
                      <tr>
                          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                              {{col.header}}
                              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                          </th>
                          <th >
                            Acciones
                        </th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                      <td *ngFor="let col of columns">
                          {{rowData[col.field]&#125;&#125;
                      </td>
                      <td>
                        <button class="btn btn-success mr-2"(click)="verAsistencia()">
                            <i class="fas fa-clipboard-list"></i>
                        </button>
                        <button class="btn btn-info mr-2"(click)="verNotas(rowData)">
                            <i class="far fa-edit"></i>
                        </button>
                      </td>
                  </tr>
                  </ng-template>
              </p-table>
            </div>

              <!-- <div class="table-responsive">
                <table class="table table-hover bg-light">
                  <thead class="thead-light">
                      <tr>
                        <th>Nombre de Cursada</th>
                        <th>Cantidad de Alumnos</th>
                        <th>Principio de cursada</th>
                        <th>Fin de cursada</th>
                        <th>{{ _LABEL.acciones }}</th>
                      </tr>
                  </thead>
                      <tbody >
                        <tr>
                          <td>Laboratorio</td>
                          <td>40</td>
                          <td>02/10/2018</td>
                          <td>19/10/2018</td>
                          <td>
                            <button class="btn btn-success mr-2"(click)="verAsistencia()">
                                <i class="fas fa-clipboard-list"></i>
                            </button>
                            <button class="btn btn-info mr-2"(click)="verNotas()">
                                <i class="far fa-edit"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
              </div> -->
      </div>
  </div>
  
</div>
<!--Asistencia-->
<app-asistencia *ngIf="mostrarAsistencia"
(clickBotonCerrar)="ocultarAsistencia()"

></app-asistencia>
<!--Notas-->
<app-notas *ngIf="mostrarNotas"
(clickBotonCerrar)="ocultarNotas()"
           [cursadaSeleccionada]="cursadaSeleccionada"
>

</app-notas>

