
<!-- <div><header>
  <img version="1.1"
  baseProfile="full"
  width="500" height="300"
  xmlns="http://www.w3.org/2000/svg" 
  src="src/logoFormar.svg" class="logo">
    
  </header>
</div> -->
<!--<div class="container-fluid bg-inactive pt-3">-->
    
  
  <div class="container-fluid">
      <div class="p-0">
          <div class="bg-light">
              <div class="input-group py-4 col-5">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Nombre Instructor</span>
                  </div>
                  <p-dropdown [options]="instructores" [(ngModel)]="selectedInstructor" [style]="{'width':'250px','height':'38px'}" (onChange)="refrescarCursadas()" ></p-dropdown>
              </div>
              <div class="example-container mat-elevation-z8">
                <p-table [columns]="cols" [value]="cursadas"[scrollable]="true" scrollHeight="450px"  >
                  <ng-template pTemplate="header" let-columns>
                      <tr>
                          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                              {{col.header}}
                              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                          </th>
                          <th>
                            Info
                          </th>
                          <th >
                            Acciones
                        </th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                      <td *ngFor="let col of columns">
                          {{rowData[col.field]&#125;&#125;
                      </td>
                      <td>
                        <button
                              (click)="mostrarInfo(rowData)"
                              class="btn btn-warning mr-2"
                              [title]="_LABEL.info.contacto">
                        <i class="fas fa-info"></i>
                      </button>
                      <td>
                        <button class="btn btn-success mr-2"(click)="verAsistencia(rowData)">
                            <i class="fas fa-clipboard-list"></i>
                        </button>
                        <button class="btn btn-info mr-2"(click)="verNotas(rowData)">
                            <i class="far fa-edit"></i>
                        </button>
                      </td>
                  </tr>
                  </ng-template>
              </p-table>
            </div>
      </div>
  </div>
  <div class="contenedor-info"  *ngIf="infoShowed">
    <div  class="dialogo bg-light p-1">
        <div class="dialogoHeader d-flex justify-content-between">
          <div></div>
          <div class="titulo text-center" ><h5> Info Cursada </h5></div>
          <span class="btn btn-danger" (click)="cerrarInfo()"><i class="fas fa-times"></i></span>
        </div>
        <div class="dialogoBody p-3 pt-3 text-center">
          <p> <span style="font-weight: bold"> Sala: </span>{{ cursadaSeleccionada.sala.nombre}} </p>
          <p> <span style="font-weight: bold"> Horarios de Cursada: </span></p>
          <p *ngFor="let horario of cursadaSeleccionada.horariosCursada"> <span style="font-weight: bold"> {{ horario.dia }}  </span>
            {{ _Util.convertirTime(horario.horaInicio) }} a
            {{ _Util.convertirTime(horario.horaFin) }} 
          </p>
          <p> <span style="font-weight: bold"> Cantidad de Clases: </span>{{ cursadaSeleccionada.cantidadClases }} </p>
  
        </div>
      </div>
  </div>
</div>

<!--Asistencia-->
<app-asistencia *ngIf="mostrarAsistencia"
(clickBotonCerrar)="ocultarAsistencia()"
        [cursadaSeleccionada]="cursadaSeleccionada"

></app-asistencia>
<!--Notas-->
<app-notas *ngIf="mostrarNotas"
(clickBotonCerrar)="ocultarNotas()"
           [cursadaSeleccionada]="cursadaSeleccionada"
>

</app-notas>

