
<div class="content-section implementation ui-fluid">
    <p-table #dt [columns]="cols" [value]="cursadas" [scrollable]="true" scrollHeight="70vh" [resizableColumns]="true">
          <ng-template pTemplate="caption">
            <div style="text-align: right">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Nombre Instructor</span>
              </div>
              <p-dropdown [options]="instructores" [(ngModel)]="selectedInstructor" [style]="{'width':'250px','height':'38px'}" (onChange)="refrescarCursadas()" ></p-dropdown>
              </div>
          </ng-template>
          <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                  <col *ngFor="let col of columns" [style.width]="col.width">
              </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
              <tr>
                  <th *ngFor="let col of columns" pResizableColumn>
                      {{col.header}}
                  </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                  <td *ngFor="let col of columns" class="ui-resizable-column" [ngSwitch]="col.field">
                      <span *ngSwitchCase="'nombre'">
                        {{ rowData.nombre }}
                      </span>
                      <span *ngSwitchCase="'inscriptos'">
                        {{ rowData.inscriptos }}
                      </span>
                      <span *ngSwitchCase="'fechaInicio'">
                        {{ _Util.convertirTimestamp(rowData.fechaInicio)}}
                      </span>
                      <span *ngSwitchCase="'fechaFin'">
                        {{ _Util.convertirTimestamp(rowData.fechaFin)}}
                      </span>
                      <span *ngSwitchCase="'info'">
                        <button
                        (click)="mostrarInfo(rowData)"
                        class="btn btn-warning mr-2"
                        [title]="_LABEL.info.contacto">
                         <i class="fas fa-info"></i>
                      </button>
                      </span>
                      <span *ngSwitchCase="'acciones'">
                          <button class="btn btn-success mr-2"(click)="verAsistencia(rowData)">
                              <i class="fas fa-clipboard-list"></i>
                          </button>
                          <button class="btn btn-info mr-2"(click)="verNotas(rowData)">
                              <i class="far fa-edit"></i>
                          </button>
                      </span>
                  </td>
              </tr>
          </ng-template>
    
      </p-table>
</div>
  <div class="contenedor-info"  *ngIf="infoShowed">
    <div  class="dialogo bg-light p-1">
        <div class="dialogoHeader d-flex justify-content-between">
          <div></div>
          <div class="titulo text-center" ><h5> Info Cursada </h5></div>
          <span class="btn btn-danger" (click)="cerrarInfo()"><i class="fas fa-times"></i></span>
        </div>
        <div class="dialogoBody p-3 pt-3 text-center">
          <p> <span style="font-weight: bold"> Sala: </span>{{ cursadaSeleccionada.sala.nombre}} </p>
          <p> <span style="font-weight: bold"> Horarios de Cursada: </span></p>
          <p *ngFor="let horario of cursadaSeleccionada.horariosCursada"> <span style="font-weight: bold"> {{ horario.dia }}  </span>
            {{ _Util.convertirTime(horario.horaInicio) }} a
            {{ _Util.convertirTime(horario.horaFin) }} 
          </p>
          <p> <span style="font-weight: bold"> Cantidad de Clases: </span>{{ cursadaSeleccionada.cantidadClases }} </p>
  
        </div>
      </div>
  </div>


<!--Asistencia-->
<app-asistencia *ngIf="mostrarAsistencia"
(clickBotonCerrar)="ocultarAsistencia()"
        [cursadaSeleccionada]="cursadaSeleccionada"

></app-asistencia>
<!--Notas-->
<app-notas *ngIf="mostrarNotas"
(clickBotonCerrar)="ocultarNotas()"
           [cursadaSeleccionada]="cursadaSeleccionada"
>

</app-notas>

