header{

box-sizing: border-box;
display: block;
padding: 0;
height: 110px;
box-sizing: border-box;

top: 0;
left: 0;
width: 100%;

box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}
.contenedor-info{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(104, 104, 104,0.8);
  }
  .dialogo{
    border-radius: 5px;
    width: 500px;
    height: auto;
    margin: auto;
    margin-top: 15vh;
  }
  
  .dialogoHeader{
    padding-bottom: 2px;
    border-bottom: 1px solid #0003;
  }
.logo{
  height: 100px;
  margin-left: 20px;
}

.example-container {
    height: 500px;
    overflow: auto;
}
   

th.mat-sort-header-sorted {
    color: black;
}
table {
    width: 100%;
}