<div class="p-0">
    <div class="bg-light">
        <div class="input-group py-4 col-5">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">{{ _LABEL.filtrar }}</span>
            </div>
            
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="busqueda">

            <div class="input-group-append" (click)="nuevoCurso()">
              <button class="btn btn-success" >
                <span >{{ _LABEL.nuevoCurso }}</span>
            </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover bg-light">
                <thead class="thead-light">
                  <tr>
                    <th>{{ _LABEL.nombreCurso }}</th>
                    <th>{{ _LABEL.area }}</th>
                    <!-- <th>{{ _LABEL.temario }}</th> -->
                    <th>Info</th>
                    <th>{{ _LABEL.acciones }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cursoCopia of cursosCopia" >
                    <td> {{ cursoCopia.nombre }}</td>
                    <td> {{ cursoCopia.area.nombre }} </td>
                    <td> 
                      <button class="btn btn-warning"
                            [title]="_HVR.temario"
                            (click)="cursoSeleccionado = curso; mostrarTemario()">
                            <i class="fas fa-info"></i>
                      </button>
                    </td>
                    <td>
                      <span class="btn btn-info mr-2" [title]="_HVR.inscribirAlumno">
                        <i class="fas fa-file-signature"></i>
                      </span>
                      <span class="btn btn-success mr-2"
                            [title]="_HVR.editarCurso"
                            (click)="cursoSeleccionado = curso; editarCurso()">
                        <i class="fas fa-edit"></i>

                      </span>
                      <span class="btn btn-danger"
                            [title]="_HVR.eliminarCurso"
                            (click)="cursoSeleccionado = curso; mostrarDialogoEliminar()">
                        <i class="fas fa-trash"></i>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
</div>

<!-- <formulario-curso *ngIf="mostrarDialogoAB"
                  (clickBotonCerrar)="ocultarDialogo()"
                  [edicion]="edicion"
                  [areas]="areas"
                  >
</formulario-curso> -->


<dialogo-confirmacion *ngIf="mostrarDialogoBorrar"
                      (clickBotonCerrar)="ocultarDialogo()"
                      (clickBotonIzquierdo)="ocultarDialogo()"
                      (clickBotonDerecho)="eliminar()"
                      [titulo]="dlg.titulo"
                      [texto]="dlg.texto"
                      >

</dialogo-confirmacion>
<ng4-loading-spinner></ng4-loading-spinner>


<div class="contenedor-temario"  *ngIf="temarioShowed">
    <div  class="dialogo bg-light p-1">
        <div class="dialogoHeader d-flex justify-content-between">
          <div></div>
          <div class="titulo text-center" ><p> {{ _LABEL.temario }} de {{ cursoSeleccionado.nombre }} </p></div>
          <span class="btn btn-danger" (click)="cerrarTemario()"><i class="fas fa-times"></i></span>
        </div>
        <div class="dialogoBody p-3 pt-3 text-center">
          <p> {{ cursoSeleccionado.temario }} </p>
        </div>
      </div>
</div>


<!-- Formulario:  -->

<div class="contenedor-formulario" *ngIf="mostrarDialogoAB">
  <div class="card mt-4 w-50 mx-auto">
      <div class="card-head d-flex  p-1 w-100 justify-content-between">
          <div></div>
          <div class="pt-2">
            <h5 *ngIf="!edicion">{{ _LABEL.nuevoCurso }}</h5>
            <h5 *ngIf="edicion">{{ _LABEL.editarCurso }}</h5>
          </div>
          <span class="btn btn-danger" (click)="cerrarDialogo()">
            <i class="fas fa-times"></i>
          </span>
      </div>
      <div class="">
        <div class="card-body">
      
            <div class="row">
              <div class="form-group col">
                <label for="">{{ _LABEL_REQUIRED.nombreCurso }}</label>
                <input
                        type="text"
                        class="form-control"
                        required
                        minlength="5"
                        maxlength="20"
                        [(ngModel)]="cursoSeleccionado.nombre"
                >
              </div>
            </div>

            <div class="row">
              <div class="form-group col">
                <label for="">{{ _LABEL_REQUIRED.descripcion }}</label>
                <input  
                      type="text"
                      class="form-control"
                      [(ngModel)]="cursoSeleccionado.descripcion"
                >
              </div>
            </div>

            <div class="row">
              <div class="form-group col">
                <label for="">{{ _LABEL_REQUIRED.temario }}</label>
                <textarea
                          name=""
                          id=""
                          rows="1"
                          class="form-control"
                          maxlength="200"
                ></textarea>
              </div>
            </div>
  
            <div class="row">
              <div class="col">
                <label for="">{{ _LABEL_REQUIRED.seleccionCategoria }}</label>
              </div>
            </div>
            <div class="row mb-5 form-group">
              <div class=" col-6">
                <label for=""></label>
                <select class="custom-select">
                    <option *ngFor="let area of areas">
                      {{ area.nombre }}
                    </option>
                  </select>
              </div>
              <div class="col-6">
                <button
                        class="btn btn-success"
                        (click)="mostrarPopupAreas()"
                >
                        <i class="fas fa-ellipsis-h"></i>
                </button>
              </div>
  
            </div>
            <div class="row form-group">
                <div class="col">
                  <button class="btn btn-primary float-right">{{ _LABEL.aceptar }}</button>
                </div>
              </div>

        </div>
      </div>
        
    </div>

<!-- Dialogo nueva area     -->

  
  <div  class="contenedor-area d-flex justify-content-center align-items-center justify-content-center"
        *ngIf="popupAreasShowed">
    <div  class="dialogo bg-light p-1">
      <div class="dialogoBody p-3 pt-3 text-center">
        <div class="form-group d-flex">
          <input  
                  class="form-control mr-2"
                  type="text"
                  [(ngModel)]="areaSeleccionada.nombre"
                  placeholder="Nueva Área"
                  minlength="3"
                  maxlength="20"
                  >
          <button 
                  class="btn btn-success"
                  *ngIf="!edicionArea"
                  (click)="clickAgregarArea()"
          >
              <i class="fas fa-plus"></i>
          </button>
          <button 
                  class="btn btn-primary"
                  *ngIf="edicionArea"
                  (click)="updateArea(areaSeleccionada)">
              <i class="fas fa-check"></i>
          </button>
        </div>
      </div>
      <div class="table-container">
        <table class="table">
          <tr *ngFor="let area of areas">
            <td class="w-75 ml-3">{{ area.nombre }}</td>
            <td>
              <button
                      class="btn btn-success mr-2"
                      (click)="editarArea(area)"        
              >
                  <i class="fas fa-edit"></i>
              </button>
              <button
                      class="btn btn-danger"
                      (click)="eliminarArea(area)"
              >
                  <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
          
        </table>
      </div>
      <div class="dialogoFooter">
        <button class="btn btn-primary float-right m-3"
              (click)="ocultarPopupAreas()"
        >{{ _LABEL.aceptar }}</button>
      </div>
    </div>
  </div>

  
</div>