<div class="p-0">
    <div class="bg-light">
        <div class="input-group py-4 col-5">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">{{ _LABEL.filtrar }}</span>
            </div>
            
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="busqueda">

            <div class="input-group-append" (click)="nuevoCurso()">
              <button class="btn btn-success" >
                <span>{{ _LABEL.nuevoCurso }}</span>
            </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover bg-light">
                <thead class="thead-light">
                  <tr>
                    <th>{{ _LABEL.nombreCurso }}</th>
                    <th>{{ _LABEL.tipoCurso }}</th>
                    <th>{{ _LABEL.temario }}</th>
                    <th>{{ _LABEL.acciones }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let curso of cursosCopia" >
                    <td> {{ curso.name }}</td>
                    <td> {{ curso.tipoName }} </td>
                    <td> 
                      <span class="btn btn-info"
                            [title]="_HVR.temario"
                            (click)="mostrarTemario(); cursoSeleccionado = curso">
                        <i class="fas fa-ellipsis-h"></i>
                      </span>
                    </td>
                    <td>
                      <span class="btn btn-info mr-2" [title]="_HVR.inscribirAlumno">
                        <i class="fas fa-file-signature"></i>
                      </span>
                      <span class="btn btn-success mr-2"
                            [title]="_HVR.editarCurso"
                            (click)="editarCurso(); cursoSeleccionado = curso">
                        <i class="fas fa-edit"></i>

                      </span>
                      <span class="btn btn-danger"
                            [title]="_HVR.eliminarCurso"
                            (click)="mostrarDialogoEliminar(); cursoSeleccionado = curso">
                        <i class="fas fa-trash"></i>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
</div>

<formulario-curso *ngIf="mostrarDialogoAB"
                  (clickBotonCerrar)="ocultarDialogo()"
                  >
</formulario-curso>


<dialogo-confirmacion *ngIf="mostrarDialogoBorrar"
                      (clickBotonCerrar)="ocultarDialogo()"
                      (clickBotonIzquierdo)="ocultarDialogo()"
                      (clickBotonDerecho)="eliminar()"
                      [titulo]="dlg.titulo"
                      [texto]="dlg.texto"
                      >

</dialogo-confirmacion>
<ng4-loading-spinner></ng4-loading-spinner>


<div class="contenedor-temario"  *ngIf="temarioShowed">
    <div  class="dialogo bg-light p-1">
        <div class="dialogoHeader d-flex justify-content-between">
          <div></div>
          <div class="titulo text-center" ><p> {{ _LABEL.temario }} de {{ cursoSeleccionado.name }} </p></div>
          <span class="btn btn-danger" (click)="cerrarTemario()"><i class="fas fa-times"></i></span>
        </div>
        <div class="dialogoBody p-3 pt-3 text-center">
          <p> {{ cursoSeleccionado.temario }} </p>
        </div>
      </div>
</div>