<nav class="navbar navbar-dark bg-primary">
    <a href="/" class="navbar-brand">Sistema de gestión educativa <span class="font-weight-bold">FormAr</span></a>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-md-4"></div>
      <div class="col-xs-8 col-md-4">
        <form action="" #loginForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="card mt-4">
            <div class="card-body">
              <div class="card-title">
                Por favor ingrese usuario y constraseña
              </div>
              <div class="form-group">
                <label for="" class="font-weight-bold">User</label>
                <input  class="form-control"
                        [(ngModel)]="usuario.email"
                        #email="ngModel"
                        name="email"
                        required
                        type="email"
                        placeholder="User">
                        <span *ngIf="!email.Valid && email.touched">El email es obligatorio y debe ser válido</span>
                      </div>
                      <div class="form-group">
                        <label for="" class="font-weight-bold">Password</label>
                        <input  class="form-control"
                        #password="ngModel"
                        [(ngModel)]="usuario.password"
                        required 
                        type="password" 
                        minlength="4"
                        placeholder="Password"
                        name="pas">
                <span *ngIf="!password.valid && password.touched">La constraseña es obligatoria y debe tener un mínimo de 4 caracteres</span>
              </div>
              <button class="btn btn-success" type="submit" mr-4>Login</button>
              <a [routerLink]="['/register']" class="btn btn-info ml-4">Registrar</a>
            </div>
          </div>
        </form>
      </div>
      <div class="col-xs-2 col-md-4">
      </div>
    </div>
  </div>
  