.contenedor{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(104, 104, 104,0.8);
  }
  .dialogo{
    border-radius: 5px;
  }
  h5{
    margin: auto;
    padding-top: 5px;
    font-weight: bolder;
  }
  .dialogoHeader{
    padding-bottom: 2px;
    border-bottom: 1px solid #0003;
  }

.contenedor-form{
  overflow-y: scroll;
}