<dialogo-confirmacion
                      *ngIf="inscribiendo"
                      [titulo]="_LABEL.titulo.inscripcion"
                      [botonCerrar]="false"
                      (clickBotonIzquierdo)="cerrarDialogoInscripcion()"
                      (clickBotonDerecho)="clickConfirmarInscripcion()"
                      [textoBotonIzquierdo]="_LABEL.cancelar"
                      [textoBotonDerecho]="_LABEL.inscribir"
                      texto="Seleccione un alumno"
>

    <p-dropdown
                [options]="alumnosFiltrados"
                [(ngModel)]="selectedAlumno"
                optionLabel="nombreApellido"
                [filter]="true"
                [style]="{'width':'300px'}"
    ></p-dropdown>
    <table class="table bg-light table-hover" style="width: 400px; margin: 20px 0;">
      <thead class="thead-light">
        <tr>
          <th>{{ _LABEL.nombre }}</th>
          <th>{{ _LABEL.apellido }}</th>
          <th>{{ _LABEL.dni }}</th>
        </tr>
      </thead>
      <tbody class="border border-light">
        <tr>
          <td>{{ selectedAlumno.nombre }}</td>
          <td>{{ selectedAlumno.apellido }}</td>
          <td>{{ selectedAlumno.dni}}</td>
        </tr>
      </tbody>
    </table>


  </dialogo-confirmacion>



  <dialogo-info
    *ngIf="mostrandoAlumnosInscriptos"
    titulo="Alumnos inscriptos en la cursada"
    [texto]="cursadaSeleccionada.nombre"
    (clickBotonCerrar)="mostrandoAlumnosInscriptos = false"
    (clickBotonOk)="mostrandoAlumnosInscriptos = false"
  >
  <div style="max-height: 400px; overflow-y: scroll;">
    <table class="table bg-light table-hover">
      <thead class="thead-light">
        <tr>
          <th>Nro</th>
          <th>{{ _LABEL.nombre }}</th>
          <th>{{ _LABEL.apellido }}</th>
          <th>{{ _LABEL.dni }}</th>
          <th>Baja</th>
        </tr>
    </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnosEnCursada;let i = index">
          <td>{{i+1}}</td>
          <td><del *ngIf="!alumno.activo">{{alumno.nombre}}</del>
            <p *ngIf="alumno.activo"> {{alumno.nombre}}</p></td>
          <td><del *ngIf="!alumno.activo">{{alumno.apellido}}</del>
            <p *ngIf="alumno.activo"> {{alumno.apellido}}</p></td>
          <td><del *ngIf="!alumno.activo">{{alumno.dni}}</del>
            <p *ngIf="alumno.activo"> {{alumno.dni}}</p></td>
          <td>   <button class="btn btn-danger" *ngIf="alumno.activo" (click)="eliminarInscripcion(alumno)">
            <i class="fas fa-ban"></i>
          </button></td>
        </tr>
      </tbody>
    </table>
  </div>
</dialogo-info>



<!-- Comienzo de tabla -->
<div class="content-section implementation ui-fluid">
    <p-table #dt [columns]="cols" [value]="cursadas" [scrollable]="true" scrollHeight="70vh" [resizableColumns]="true">
        <ng-template pTemplate="caption">
            <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" [placeholder]="_LABEL.buscar" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                <button class="btn btn-success"
                        (click)="nuevaCursada()">
                        <span>{{ _LABEL.nuevaCursada }}</span>
                </button>
              </div>
          <div style="text-align: left">
              <p-dropdown [options]="cursadasTipo" [(ngModel)]="selectedTipoCursada" [style]="{'width':'250px','height':'38px'}" (onChange)="refrescarTipoCursadas()" ></p-dropdown>
          </div>
          </ng-template>

          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" pResizableColumn>
                {{col.header}}
              </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns" class="ui-resizable-column" [ngSwitch]="col.field">
                <span *ngSwitchCase="'nombre'">
                    {{ rowData.nombre }}
                </span>
                <!-- <span *ngSwitchCase="'descripcion'">
                    {{ rowData.curso.descripcion }}
                </span> -->
                <span *ngSwitchCase="'curso'">
                    {{ rowData.curso.nombre }}
                </span>
                <span *ngSwitchCase="'fechaInicio'">
                    {{ _Util.convertirTimestamp(rowData.fechaInicio) }}
                </span>
                <span *ngSwitchCase="'fechaFin'">
                    {{ _Util.convertirTimestamp(rowData.fechaFin) }}
                </span>
                <span *ngSwitchCase="'info'">
                    <button class="btn btn-warning mr-2"
                            [title]="_LABEL.info.cursada"
                            (click)="mostrarInfo(rowData)">
                            <i class="fas fa-info"></i>
                    </button>
                    <button
                            (click)="mostrarAlumnosEnCursada(rowData)"
                            class="btn btn-warning mr-2"
                            [title]="_LABEL.info.alumnosEnCursada"
                      >
                      <i class="fas fa-users"></i></button>
                </span>
                <span *ngSwitchCase="'iniciada'">
                  <span *ngIf="rowData.iniciada">Iniciada</span>
                  <span *ngIf="!rowData.iniciada">En espera</span>
              </span>
                <span *ngSwitchCase="'acciones'">
                    <button *ngIf="supervisorConectado && !rowData.iniciada && cursadasActivas" class="btn btn-success mr-2" (click)="iniciarCursada(rowData)">
                        <i class="fas fa-play-circle"></i>
                      </button>
                    <button *ngIf="cursadasActivas" class="btn btn-info mr-2" (click)="clickInscribir(rowData)">
                        <i class="fas fa-file-signature"></i>
                      </button>
                      <button *ngIf="!rowData.iniciada && cursadasActivas" class="btn btn-success mr-2" (click)="editarCursada(rowData)">
                        <i class="fas fa-edit"></i>
                      </button>

                      <button *ngIf="cursadasActivas" class="btn btn-danger" (click)="eliminarCursada(rowData)">
                        <i class="fas fa-trash"></i>
                      </button>
                </span>
            </td>
          </tr>
        </ng-template>

    </p-table>
  </div>





<!-- Fin de tabla -->















<dialogo-info [titulo]="tituloDialogoInfo"
[texto]="textoDialogoInfo"
*ngIf="mensajeInfo "
(clickBotonCerrar)="ocultarMensaje()"
(clickBotonOk)="ocultarMensaje()">
</dialogo-info>


<dialogo-confirmacion
                    *ngIf="mostrarDialogoBorrar"
                    (clickBotonCerrar)="ocultarDialogoEliminar()"
                    (clickBotonIzquierdo)="ocultarDialogoEliminar()"
                    (clickBotonDerecho)="eliminar()"
                    [titulo]="_LABEL.bajaCursada"
                    [texto]="textoDlgEliminar"
                      >

</dialogo-confirmacion>
 <!--Dialogo info-->
<div class="contenedor-info"  *ngIf="infoShowed">
  <div  class="dialogo bg-light p-1">
      <div class="dialogoHeader d-flex justify-content-between">
        <div></div>
        <div class="titulo text-center" ><h5> Info Cursada </h5></div>
        <span class="btn btn-danger" (click)="cerrarInfo()"><i class="fas fa-times"></i></span>
      </div>
      <div class="dialogoBody p-3 pt-3 text-center w-80">
        <p> <span style="font-weight: bold"> Nombre: </span>{{ cursadaSeleccionada.nombre}} </p>
        <p style="word-wrap: break-word"> <span style="font-weight: bold"> Descripción: </span>{{ cursadaSeleccionada.descripcion}} </p>
        <p> <span style="font-weight: bold"> Sala: </span>{{ cursadaSeleccionada.sala.nombre}} </p>
        <p> <span style="font-weight: bold"> Instructor: </span>{{ cursadaSeleccionada.instructor.nombre }} </p>
        <p> <span style="font-weight: bold"> Administrativo: </span>{{ cursadaSeleccionada.administrativo.nombre }} </p>
        <p> <span style="font-weight: bold"> Precio Cuota: </span>${{ cursadaSeleccionada.precioCuota }} </p>
        <p> <span style="font-weight: bold"> Matricula: </span>${{ cursadaSeleccionada.matricula }} </p>
        <p> <span style="font-weight: bold"> Cantidad de Cuotas: </span>{{ cursadaSeleccionada.cantidadCuotas }} </p>
        <p> <span style="font-weight: bold"> Dia vencimiento de cuota: </span>{{ cursadaSeleccionada.diaVencCuota}}-MM-AAAA </p>
        <p> <span style="font-weight: bold"> Cupo Minimo: </span>{{ cursadaSeleccionada.cupoMinimo }} </p>
        <p> <span style="font-weight: bold"> Cupo Maximo: </span>{{ cursadaSeleccionada.cupoMaximo }} </p>
        <p> <span style="font-weight: bold"> Horarios de Cursada: </span></p>
        <p *ngFor="let horario of cursadaSeleccionada.horariosCursada"> <span style="font-weight: bold"> {{ horario.dia }}  </span>
          {{ _Util.convertirTime(horario.horaInicio) }} a
          {{ _Util.convertirTime(horario.horaFin) }}
        </p>
        <p> <span style="font-weight: bold"> Cantidad de Clases: </span>{{ cursadaSeleccionada.cantidadClases }} </p>

      </div>
    </div>
</div>





















<!-- FORMULARIO -->
<div class="contenedor-formulario " *ngIf="mostrarDialogo">
  <div class="card mt-4 w-50 mx-auto">
    <div class="card-head d-flex  w-100 justify-content-between" style="border-bottom: solid 1px #8080804d">
      <div></div>
      <div class="pt-2">
        <h5 *ngIf="!edicion && !iniciar" class="">{{ _LABEL.nuevaCursada}}</h5>
        <h5 *ngIf="edicion && !iniciar" class="">Edicion</h5>
        <h5 *ngIf="iniciar" class="">Inicio cursada</h5>
      </div>
      <span class="btn btn-danger" (click)="cerrarDialogo()"><i class="fas fa-times"></i></span>
    </div>
    <div class="card-body">
    <div style="max-height: 70vh; overflow-y: scroll;overflow-x: hidden;">
        <!-- NOMBRE DE LA CURSADA -->
        <div class="row">

          <div class="col-4">
            <div class="form-group">
              <label>{{ _LABEL.titulo.nombreCursada }}</label>
              <div class="input-group">
                <input
                        type="text"
                        class="form-control"
                        [placeholder]="_LABEL.ingrese.nombreCursada"
                        [(ngModel)]="cursadaSeleccionada.nombre"
                        >
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
                <label>{{ _LABEL.seleccione.curso  }}</label>
                <p-dropdown  [filter]="true" [options]="cursos" [(ngModel)]="selectedCurso" optionLabel="nombre"  (onChange)="filtrarInstructores()" [style]="{'width': '100%'}"></p-dropdown>
            </div>
          </div>

          
          <div class="col-4">
            <div class="form-group">
                <label>{{ _LABEL.seleccione.administrativo  }}</label>
                  <p-dropdown [filter]="true" [options]="administrativos" [(ngModel)]="selectedAdm" optionLabel="nombre" [style]="{'width': '100%'}"></p-dropdown>
            </div>
          </div>
        </div>
        

      <div class="row mt-3">
          <div class="col-3">
            <div class="form-group">
                <label style="display: block">{{ _LABEL.seleccione.instructor  }}</label>
                <p-dropdown [options]="instructores" [(ngModel)]="selectedInstructor" optionLabel="nombre" ></p-dropdown>
              <button class="btn btn btn-info" (click)="verCalendarioInstructor()" style="margin-left: 10px;">
                <i class="far fa-calendar-check"></i>
              </button>
              <p>  Disponibilidad:</p>
              <p *ngFor="let horario of selectedInstructor.disponibilidadHoraria" style="line-height: 100%">
                <li><span style="font-weight: bold"> {{ horario.dia }}  </span>
                    {{ _Util.convertirTime(horario.horaInicio) }}
                    a
                    {{ _Util.convertirTime(horario.horaFin) }}
                  </li>
              </p>
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
                <label style="display: block">{{ _LABEL.seleccione.sala  }}</label>
                <p-dropdown [options]="salas" [(ngModel)]="selectedSala" optionLabel="nombre" ></p-dropdown>
                  <button class="btn btn btn-info" (click)="verCalendarioSala()" style="margin-left: 10px;">
                    <i class="far fa-calendar-check"></i>
                  </button>
                  <p>Capacidad: {{ selectedSala.capacidad }}</p>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
                <label for="">{{ _LABEL.fechaInicio }}</label>
                <ng-datepicker
                      style="position: relative;z-index: 10"
                      id="calendario"
                      [(ngModel)]="fechaInicio"
                      [options]="options"
                ></ng-datepicker>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
                <label>{{ _LABEL.titulo.cantClases }}</label>
                <div class="input-group">
                    <p-spinner size="15" [(ngModel)]="cursadaSeleccionada.cantidadClases" placeholder="Ingrese la cantidad de clases"[min]="0" [max]="500"></p-spinner>
  
                </div>
            </div>
          </div>
          

      </div>

      <div class="row mt-3" style="align-items:baseline">
          <div class="col-2">
              <div class="form-group">
                <label>{{ _LABEL.titulo.cupoMinimo }}</label>
              <div class="input-group">
                <p-spinner size="15" [(ngModel)]="cursadaSeleccionada.cupoMinimo" [placeholder]="_LABEL.ingrese.cupoMinimo"[min]="0" [max]="selectedSala.capacidad"></p-spinner>
  
              </div>
              </div>
            </div>

        <div class="col-2">
          <div class="form-group">
              <label>{{ _LABEL.titulo.cupoMaximo }}</label>
              <div class="input-group">
              <p-spinner size="10" [(ngModel)]="cursadaSeleccionada.cupoMaximo" [placeholder]="_LABEL.ingrese.cupoMaximo"[min]="cursadaSeleccionada.cupoMinimo" [max]="selectedSala.capacidad"></p-spinner>

            </div>
          </div>
        </div>

        <div class="col-2">
            <div class="form-group">
                <label>{{ _LABEL.titulo.cantCuotas }}</label>
                <div class="input-group">
                 <p-spinner size="10" [(ngModel)]="cursadaSeleccionada.cantidadCuotas" [placeholder]="_LABEL.ingrese.cantCuotas"[min]="0" [max]="500"></p-spinner>

              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label>{{ _LABEL.titulo.matricula }}</label>
              <div class="input-group">
                <p-spinner size="10" [(ngModel)]="cursadaSeleccionada.matricula" [placeholder]="_LABEL.ingrese.matricula"[min]="0" [max]="10000"></p-spinner>

              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label>{{ _LABEL.titulo.cuota }}</label>
              <div class="input-group">
                <p-spinner size="10" [(ngModel)]="cursadaSeleccionada.precioCuota" [placeholder]="_LABEL.ingrese.cuota"[min]="0" [max]="50000"></p-spinner>

            </div>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label>Dia de vencimiento de cuota</label>
              <div class="input-group">
                <p-spinner size="10" [(ngModel)]="cursadaSeleccionada.diaVencCuota" placeholder="Ingrese el dia de vencimiento "[min]="1" [max]="30"></p-spinner>
            </div>
            </div>
          </div>

      </div>




        

                

            <hr>
            <!-- INICIO HORARIO DE CURSADA -->
            <div class="row">
              <div class="col">
                <div class="form-group">
                    <label >{{ _LABEL.horarioCursada }} &nbsp; </label>
                    <button class="btn btn-success " type="button" (click)="addFieldValue()"> <i class="fas fa-plus"></i></button>
                    <table  style="border:hidden;border-spacing: 15px 0px;border-collapse: inherit;">
                        <thead>
                            <tr>
                                <th>Dia</th>
                                <th>Hora Inicio</th>
                                <th>Hora Fin</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let field of fieldArray; let i = index">
                                <td>
                                    <select class="custom-select" [(ngModel)]="field.dia"  type="text" name="{{field.dia}}">
                                        <option *ngFor="let dia of dias" [value]="dia.dia">
                                          {{ dia.dia }}
                                        </option>
                                      </select>
                                </td>
                                <td>
                                    <p-calendar [(ngModel)]="field.horaInicio"   name="{{field.horaInicio}}" [timeOnly]="true" hourFormat="24"></p-calendar>

                                </td>
                                <td>
                                    <p-calendar [(ngModel)]="field.horaFin"  name="{{field.horaFin}}" [timeOnly]="true" hourFormat="24"></p-calendar>
                                </td>
                                <td>

                                    <button class="btn btn-danger"  type="button" (click)="deleteFieldValue(i)"><i class="fas fa-minus"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="custom-select" id="newAttributeDia" [(ngModel)]="newAttribute.dia"  type="text" name="newAttributeDia">
                                        <option *ngFor="let dia of dias" [value]="dia.dia">
                                          {{ dia.dia }}
                                        </option>
                                      </select>
                                </td>
                                <td>
                                    <p-calendar [(ngModel)]="newAttribute.horaInicio" id="newAttributehoraInicio"   name="newAttributehoraInicio" [timeOnly]="true" hourFormat="24"></p-calendar>

                                </td>
                                <td>
                                    <p-calendar [(ngModel)]="newAttribute.horaFin" id="newAttributehoraFin"  name="newAttributehoraFin" [timeOnly]="true" hourFormat="24"></p-calendar>

                                </td>

                                <td>
                                    <button class="btn btn-danger"  type="button" (click)="deleteAtributteValue()"><i class="fas fa-minus"></i></button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <span *ngIf="horarioDisponibilidad" > {{_LABEL.error.horarioCursada }}</span>
                </div>
              </div>

            </div>



                      
              </div>
              </div>
            <!-- FIN HORARIO DE CURSADA -->
            <div class="d-flex justify-content-end p-3" >
              <button class="btn btn-primary float-right " [disabled]="!validacionNombre() || cursadaSeleccionada.cupoMinimo==undefined || cursadaSeleccionada.cupoMaximo==undefined
               || cursadaSeleccionada.cantidadClases==undefined || cursadaSeleccionada.cantidadCuotas==undefined || cursadaSeleccionada.matricula==undefined ||
               cursadaSeleccionada.precioCuota==undefined || cursadaSeleccionada.diaVencCuota==undefined || fechaInicio==undefined ||
               newAttribute.dia==undefined || newAttribute.horaInicio==undefined || newAttribute.horaFin==undefined  || !validarDisponibilidadInstructor()" (click)="guardarCursada()">
                <span *ngIf="edicion && !iniciar">{{ _LABEL.guardar }}</span>
                <span *ngIf="!edicion && !iniciar">{{ _LABEL.agregar }}</span>
                <span *ngIf="iniciar">{{ _LABEL.iniciar }}</span>
              </button>

           </div>
      </div>
  </div>
  <!--Calendario-->
  <calendario-disponibilidad
                              *ngIf="mostrarCalendario"
                              (clickBotonCerrar)="ocultarCalendario()"
                              [id]= idSeleccionado
                              [esSala]=esSala
                              [esInstructor]= esInstructor
></calendario-disponibilidad>




  <!-- <div class="contenedor d-flex justify-content-center align-items-center " *ngIf="inscribiendo">
    <div class="dialogo bg-light p-3 contenedor-form" style="width: 700px">
      <div class="dialogoHeader">
        <div class="text-center">{{ _LABEL.tituloInscipcion }}</div>
      </div>
      <div style="overflow-y: scroll;overflow-x: hidden; height: 65vh">
        <p-autoComplete [(ngModel)]="text" [suggestions]="results" (completeMethod)="search($event)"
        [dropdown]="true"></p-autoComplete>
      </div>
    </div>
  </div> -->






<!--
<dialogo-confirmacion *ngIf="inscribiendo"
                      >


</dialogo-confirmacion> -->



<ng4-loading-spinner></ng4-loading-spinner>
