<div class="p-0">
    <div class="bg-light">
        <div class="input-group py-4 col-5">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">{{ _LABEL.filtrar }}</span>
            </div>
            
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="busqueda">

            <div class="input-group-append">
              <button class="btn btn-success"(click)="mostrarDialogo = true"><span>{{ _LABEL.nuevaCursada }}</span></button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover bg-light">
                <thead class="thead-light">
                  <tr>
                    <th>{{ _LABEL.curso }}</th>
                    <th>{{ _LABEL.descripcion }}</th>
                    <th>{{ _LABEL.area }}</th>
                    <th>{{ _LABEL.fechaInicio }}</th>
                    <th>{{ _LABEL.fechaFin }}</th>
                    <th>{{ _LABEL.acciones }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cursada of cursadas | search: { curso: busqueda }" >
                    <td> {{ cursada.curso }}</td>
                    <td> {{ cursada.descripcion }} </td>
                    <td> {{ cursada.area }} </td>
                    <td>  {{ cursada.fechaInicio }}</td>
                    <td>  {{ cursada.fechaFin }}</td>
                    <td>
                      <span class="btn btn-info mr-2" >
                        <i class="fas fa-file-signature"></i>
                      </span>
                      <span class="btn btn-success mr-2">
                        <i class="fas fa-edit"></i>
                      </span>
                      <span class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
</div>


<div class="contenedor d-flex justify-content-center align-items-center justify-content-center contenedor-form" *ngIf="mostrarDialogo">
    <div  class="dialogo bg-light p-3">
      <div class="dialogoHeader">
        <div></div>
        <div class="text-center">{{ _LABEL.nuevaCursada }}</div>
      </div>
        
      <!--  SELECT CURSO -->
      <div class="mt-3">
        <label for="basic-url">{{ _LABEL.seleccion.curso  }}</label>
        <div class="input-group">
          <select class="form-control" placeholder="Cursos Prueba" [(ngModel)]="cursoSeleccionado">
            <option *ngFor="let curso of cursos" [value]="curso.id">
              {{ curso.curso }}
            </option>
          </select>  
        </div>
        <div>
            <br>
            <p>CURSO: id: {{cursoSeleccionado}}</p> 
        </div>
      </div>
      <!--  FIN SELECT CURSO -->
        
      <!--  SELECT INSTRUCTOR -->
      <div class="mt-3">
        <label for="basic-url">{{ _LABEL.seleccion.instructor  }}</label>
        <div class="input-group">
          <select class="form-control" placeholder="Instructor" [(ngModel)]="instructorSeleccionado">
            <option *ngFor="let instructor of instructores" [value]="instructor.id">
              {{ instructor.nombre }}
            </option>
          </select>  
        </div>
        <div>
            <br>
            <p>INSTRUCTOR: id: {{instructorSeleccionado}}</p> 
        </div>
      </div>
      <!--  FIN SELECT INSTRUCTOR -->
  
      <!--  SELECT SALA -->
      <div class="mt-3">
          <label for="basic-url">{{ _LABEL.seleccion.sala  }}</label>
          <div class="input-group">
            <select class="form-control" placeholder="Sala" [(ngModel)]="salaSeleccionada">
              <option *ngFor="let sala of salas" [value]="sala.sala">
                {{ sala.sala }}
              </option>
            </select>  
          </div>
          <div>
              <br>
              <p>SALA: sala: {{salaSeleccionada}}</p> 
          </div>
        </div>
        <!--  FIN SELECT SALA -->

        <!--  SELECT DIAS -->
        <div class="mt-3">
          <label for="basic-url">{{ _LABEL.seleccion.dias  }}</label>
          <div class="input-group">
            <select class="form-control" [(ngModel)]="diasSeleccionados" multiple>
              <option *ngFor="let dia of dias" [value]="dia.dia">
                {{ dia.dia }}
              </option>
            </select>  
          </div>
          <div>
              <br>
              <p>DIAS: Dias: {{diasSeleccionados}}</p> 
          </div>
        </div>
        <!--  FIN SELECT DIAS -->
        
        <!--  SELECT CANT CLASES -->
        <div class="mt-3">
          <label for="basic-url">{{ _LABEL.ingrese.dias  }}</label>
          <div class="input-group">
            <input 
                    type="text"
                    placeholder="HARCKODEADO CANT CLASES"
                    [(ngModel)]="cantClases"
                    >
          </div>
          <div>
            <p>Cant Clases: {{cantClases}}</p> 
          </div>
        </div>
        <!--  FIN SELECT CANT CLASES -->
        
        
        <div class="row mt-3">
        <div class="col form-group">
          <label for="">{{ _LABEL.fechaInicio }}</label>
          <input type="date" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col form-group">
          <label for="">{{ _LABEL.fechaFin }}</label>
          <input type="date" class="form-control">
        </div>
      </div>
        
  
  
      <div class="dialogoFooter d-flex mx-5 mt-3 mb-3 justify-content-between">
        <span class="btn btn-danger mr-3" (click)="mostrarDialogo = false;clickBtnIzquierdo()">{{ _LABEL.cancelar }}</span>
        <span class="btn btn-primary ml-3"  (click)="clickBtnDerecho()">
          {{ _LABEL.crear }}
          <i class="fas fa-check"></i>
        </span>
      </div>
    </div>
  </div>




<!-- 
<dialogo-confirmacion *ngIf="mostrarDialogoBorrar"
                      (clickBotonCerrar)="ocultarDialogo()"
                      (clickBotonIzquierdo)="ocultarDialogo()"
                      (clickBotonDerecho)="eliminar()"
                      [titulo]="dlg.titulo"
                      [texto]="dlg.texto"
                      >

</dialogo-confirmacion>
<ng4-loading-spinner></ng4-loading-spinner> -->
