.contenedor-formulario{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(104, 104, 104,0.8);
  }
  .contenedor-info{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(104, 104, 104,0.8);
  }
  .dialogo{
    border-radius: 5px;
    width: 500px;
    height: auto;
    margin: auto;
    margin-top: 5vh;
  }
  
  .dialogoHeader{
    padding-bottom: 2px;
    border-bottom: 1px solid #0003;
  }

.contenedor-form{
  overflow-y: auto;
  height: 40vw;
  width: 50vw;
}
.table-responsive{
  overflow-y: scroll;
  max-height: 75vh;
}