<div class="p-0">
    <div class="bg-light">
        <div class="input-group py-4 col-5">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">{{ _LABEL.filtrar }}</span>
            </div>
            
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="busqueda">

            <div class="input-group-append">
              <button class="btn btn-success"(click)="mostrarDialogo = true"><span>{{ _LABEL.nuevaCursada }}</span></button>
            </div>
        </div>

        <div class="table-responsive">
          <table class="table table-hover bg-light">
            <thead class="thead-light">
                <tr>
                  <th>{{ _LABEL.curso }}</th>
                  <th>{{ _LABEL.descripcion }}</th>
                  <th>{{ _LABEL.area }}</th>
                  <th>{{ _LABEL.fechaInicio }}</th>
                  <th>{{ _LABEL.fechaFin }}</th>
                  <th>{{ _LABEL.acciones }}</th>
                </tr>
            </thead>
       
       
                <tbody>
                  <tr *ngFor="let cursada of cursadas" >
                    <td> {{ cursada.curso.nombre }}</td>
                    <td> {{ cursada.curso.descripcion }} </td>
                    <td> {{ cursada.curso.area.nombre }} </td>
                    <td>  {{ _Util.convertirTimestamp(cursada.fechaInicio) }}</td>
                    <td>  {{ _Util.convertirTimestamp(cursada.fechaFin) }}</td>
                    <td>
                      <button class="btn btn-info mr-2" (click)="clickInscribir(cursada)">
                        <i class="fas fa-file-signature"></i>
                      </button>
                      <button class="btn btn-success mr-2">
                        <i class="fas fa-edit"></i>
                      </button>
                      <button class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
</div>


<div class="contenedor d-flex justify-content-center align-items-center " *ngIf="mostrarDialogo">
    <div class="dialogo bg-light p-3 contenedor-form" style="width: 700px">
      <div class="dialogoHeader">
        <div class="text-center">{{ _LABEL.nuevaCursada }}</div>
      </div>
      <div style="overflow-y: scroll;overflow-x: hidden; height: 65vh">

      <!--  SELECT NOMBRE -->
      <div class="mt-3 col">
        <label for="basic-url">{{ _LABEL.titulo.nombreCursada }}</label>
        <div class="input-group">
          <input 
            type="text"
            class="form-control"
            [placeholder]="_LABEL.ingrese.nombre"
            [(ngModel)]="cursadaSeleccionada.nombre"
            >
        </div>
      </div>
      <!--  FIN SELECT CUPO MINIMO -->
      
      <div class="row">
          <!--  SELECT CURSO -->
          <div class="mt-3 col">
            <label for="basic-url">{{ _LABEL.seleccione.curso  }}</label>
            <div class="input-group">
              <select class="custom-select">
                <option *ngFor="let curso of cursos" [value]="curso.id" (click)=guardarCurso(curso)>
                  {{ curso.nombre }}
                </option>
              </select>  
            </div>
          </div>
          <!--  FIN SELECT CURSO -->
            
          <!--  SELECT INSTRUCTOR -->
          <div class="mt-3 col">
            <label for="basic-url">{{ _LABEL.seleccione.instructor  }}</label>
            <div class="input-group">
              <select class="custom-select" placeholder="Instructor" [(ngModel)]="cursadaSeleccionada.instructor">
                <option *ngFor="let instructor of instructores" [value]="instructor.nombre">
                  {{ instructor.nombre }}
                </option>
              </select>  
            </div>
          </div>
          <!--  FIN SELECT INSTRUCTOR -->
      
          <!--  SELECT SALA -->
          <div class="mt-3 col">
              <label for="basic-url">{{ _LABEL.seleccione.sala  }}</label>
              <div class="input-group">
                <select class="custom-select" placeholder="Sala" [(ngModel)]="cursadaSeleccionada.sala">
                  <option *ngFor="let sala of salas" [value]="sala.sala">
                    {{ sala.sala }}
                  </option>
                </select>  
              </div>
            </div>
            <!--  FIN SELECT SALA -->
          </div>
    
          <hr>
    
          <div class="row">
            <!--  SELECT CUPO MINIMO -->
            <div class="mt-3 col">
              <label for="basic-url">{{ _LABEL.titulo.cupoMinimo }}</label>
              <div class="input-group">
                <input 
                        type="text"
                        class="form-control"
                        [placeholder]="_LABEL.ingrese.cupoMinimo"
                        [(ngModel)]="cursadaSeleccionada.cupoMinimo"
                        >
              </div>
            </div>
            <!--  FIN SELECT CUPO MINIMO -->
            
            <!--  SELECT CUPO MAXIMO -->
            <div class="mt-3 col">
                <label for="basic-url">{{ _LABEL.titulo.cupoMaximo }}</label>
                <div class="input-group">
                  <input 
                        type="text"
                        class="form-control"
                        [placeholder]="_LABEL.ingrese.cupoMaximo"
                        [(ngModel)]="cursadaSeleccionada.cupoMaximo"
                        >
              </div>
            </div>
            <!--  FIN SELECT CUPO MAXIMO -->
            </div>
    
            <div class="row">
            <!--  SELECT CANT CLASES -->
            <div class="mt-3 col">
              <label for="basic-url">{{ _LABEL.titulo.cantClases }}</label>
              <div class="input-group">
                <input 
                        #clases = "ngModel"
                        type="text"
                        class="form-control"
                        required
                        [placeholder]="_LABEL.ingrese.cantClases"
                        [(ngModel)]="cursadaSeleccionada.cantidadClases"
                        >
              </div>
            </div>
            <!--  FIN SELECT CANT CLASES -->
            
            <!--  SELECT CANT CUOTAS -->
            <div class="mt-3 col">
                <label for="basic-url">{{ _LABEL.titulo.cantCuotas }}</label>
                <div class="input-group">
                  <input 
                        #cuotas = "ngModel"
                        type="text"
                        class="form-control"
                        required
                        [placeholder]="_LABEL.ingrese.cantCuotas"
                        [(ngModel)]="cursadaSeleccionada.cantidadCuotas"
                        >
              </div>
            </div>
            <!--  FIN SELECT CANT CUOTAS -->
            </div>
    
            <div class="row">
              <!--  SELECT IMPORTE MATRICULA -->
              <div class="mt-3 col">
                <label for="basic-url">{{ _LABEL.titulo.importeMatricula }}</label>
                <div class="input-group">
                  <input 
                          #imatricula = "ngModel"
                          type="text"
                          class="form-control"
                          required
                          [placeholder]="_LABEL.ingrese.importeMatricula"
                          [(ngModel)]="cursadaSeleccionada.matricula"
                          >
                </div>
              </div>
              <!--  FIN SELECT IMPORTE MATRICULA -->
              
              <!--  SELECT IMPORTE CUOTA -->
              <div class="mt-3 col">
                  <label for="basic-url">{{ _LABEL.titulo.importeCuota }}</label>
                  <div class="input-group">
                    <input 
                          #icuota = "ngModel"
                          type="text"
                          class="form-control"
                          required
                          [placeholder]="_LABEL.ingrese.importeCuota"
                          [(ngModel)]="cursadaSeleccionada.cuota"
                          >
                </div>
              </div>
              <!--  FIN SELECT IMPORTE CUOTA -->
              </div>
            
            <hr>
              <div class="row">
                <div class="col">
                  <input type="checkbox" [(ngModel)]="lunes"> Lunes
                </div>
                <div class="col">
                  <select class="custom-select" [disabled]="!lunes">
                    <option *ngFor="let hora of horas" [value]="hora">
                      {{ hora }}
                    </option>
                  </select>
                </div>
                <div class="col">
                  <select class="custom-select" [disabled]="!lunes">
                    <option *ngFor="let hora of horas" [value]="hora">
                        {{ hora }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                  <div class="col">
                    <input type="checkbox" [(ngModel)]="martes"> Martes
                  </div>
                  <div class="col">
                    <select class="custom-select" [disabled]="!martes">
                      <option *ngFor="let hora of horas" [value]="hora">
                        {{ hora }}
                      </option>
                    </select>
                  </div>
                  <div class="col">
                    <select class="custom-select" [disabled]="!martes">
                      <option *ngFor="let hora of horas" [value]="hora">
                          {{ hora }}
                      </option>
                    </select>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                    <input type="checkbox" [(ngModel)]="miercoles"> Miercoles
                  </div>
                  <div class="col">
                    <select class="custom-select" [disabled]="!miercoles">
                      <option *ngFor="let hora of horas" [value]="hora">
                        {{ hora }}
                      </option>
                    </select>
                  </div>
                  <div class="col">
                    <select class="custom-select" [disabled]="!miercoles">
                      <option *ngFor="let hora of horas" [value]="hora">
                          {{ hora }}
                      </option>
                    </select>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                    <input type="checkbox" [(ngModel)]="jueves"> Jueves
                  </div>
                  <div class="col">
                    <select class="custom-select" [disabled]="!jueves">
                      <option *ngFor="let hora of horas" [value]="hora">
                        {{ hora }}
                      </option>
                    </select>
                  </div>
                  <div class="col">
                    <select class="custom-select" [disabled]="!jueves">
                      <option *ngFor="let hora of horas" [value]="hora">
                          {{ hora }}
                      </option>
                    </select>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                    <input type="checkbox" [(ngModel)]="viernes"> Viernes
                  </div>
                  <div class="col">
                    <select class="custom-select" [disabled]="!viernes">
                      <option *ngFor="let hora of horas" [value]="hora">
                        {{ hora }}
                      </option>
                    </select>
                  </div>
                  <div class="col">
                    <select class="custom-select" [disabled]="!viernes">
                      <option *ngFor="let hora of horas" [value]="hora">
                          {{ hora }}
                      </option>
                    </select>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                    <input type="checkbox" [(ngModel)]="sabado"> Sabado
                  </div>
                  <div class="col">
                    <select class="custom-select" [disabled]="!sabado">
                      <option *ngFor="let hora of horas" [value]="hora">
                        {{ hora }}
                      </option>
                    </select>
                  </div>
                  <div class="col">
                    <select class="custom-select" [disabled]="!sabado">
                      <option *ngFor="let hora of horas" [value]="hora">
                          {{ hora }}
                      </option>
                    </select>
                  </div>
              </div>
            <hr>
            <!-- INICIO SELECCION FECHA -->        
                <label for="">{{ _LABEL.fechaInicio }}</label>
                <ng-datepicker 
                      style="position: relative;z-index: 1000"
                      id="calendario"
                      [(ngModel)]="fechaInicio"
                      [options]="options"
                ></ng-datepicker>
            <!-- FIN SELECCION FECHA -->
    
            <hr>
      </div>

      <div class="dialogoFooter d-flex mx-5 mt-3 mb-3 justify-content-between">
        <button class="btn btn-danger mr-3" (click)="mostrarDialogo = false;clickBtnIzquierdo()">{{ _LABEL.cancelar }}</button>
        <button class="btn btn-primary ml-3"  (click)="guardarCursada()">{{ _LABEL.crear }}</button>
      </div>
    </div>
  </div>











  <div class="contenedor d-flex justify-content-center align-items-center " *ngIf="inscribiendo">
    <div class="dialogo bg-light p-3 contenedor-form" style="width: 700px">
      <div class="dialogoHeader">
        <div class="text-center">{{ _LABEL.tituloInscipcion }}</div>
      </div>
      <div style="overflow-y: scroll;overflow-x: hidden; height: 65vh">
        <p-autoComplete [(ngModel)]="text" [suggestions]="results" (completeMethod)="search($event)"
        [dropdown]="true"></p-autoComplete>
      </div>
    </div>
  </div>






<!-- 
<dialogo-confirmacion *ngIf="mostrarDialogoBorrar"
                      (clickBotonCerrar)="ocultarDialogo()"
                      (clickBotonIzquierdo)="ocultarDialogo()"
                      (clickBotonDerecho)="eliminar()"
                      [titulo]="dlg.titulo"
                      [texto]="dlg.texto"
                      >

</dialogo-confirmacion>
 -->

<ng4-loading-spinner></ng4-loading-spinner>
