<div class="">
  <div class="">
    <div class="dialogoEdicion" *ngIf="mostrarDialogoAB">
        <div class="card mt-4 w-50 mx-auto">
            <div class="card-head d-flex  w-100 justify-content-between">
              <div></div>
              <div class="pt-2">
                <h5 *ngIf="!edicion" class="">{{ tituloNuevoAlumno}}</h5>
                <h5 *ngIf="edicion" class="">{{ tituloEdicionAlumno}}</h5>
              </div>
              <span class="btn btn-danger" (click)="ocultarDialogo()"><i class="fas fa-times"></i></span>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="form-group col">
                  <label for="nombre">{{ _LABEL_R.nombre }}</label>
                    <input  
                            #nombre="ngModel"
                            class="form-control"
                            type="text"
                            required
                            [(ngModel)]="alumnoSeleccionado.nombre"
                            placeholder="Ingrese nombre"
                            id="nombre"
                            name="nombre"
                            minlength="3"
                            >
                  <div  *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                        class="alert alert-danger">
                    <div *ngIf="nombre.errors.required">{{ _VALIDACION.nombreRequerido }}</div>    
                    <div *ngIf="nombre.errors.minlength">{{ _VALIDACION.minimoTres }}</div>    
                  </div>
                </div>
                <div class="form-group col">
                  <label for="apellido">{{ _LABEL_R.apellido }}</label>
                  <input  
                          class="form-control"
                          #apellido="ngModel"
                          type="text"
                          required
                          [(ngModel)]="alumnoSeleccionado.apellido"
                          placeholder="Ingrese apellido"
                          id="apellido"
                          name="apellido"
                          >
                          <div  *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
                                class="alert alert-danger">
                            <div *ngIf="apellido.errors.required">{{ _VALIDACION.apellidoRequerido }}</div>    
                          </div>
                        </div>

              </div>
              <div class="row">
                <div class="form-group col">
                  <label for="dni">{{ _LABEL.dni }}</label>
                  <input  
                        class="form-control"
                        [(ngModel)]="alumnoSeleccionado.dni"
                        type="text"
                        #dni="ngModel"
                        placeholder="Ingrese DNI"
                        name="dni"
                        id="dni">

                        <div  *ngIf="dni.invalid && (dni.dirty || dni.touched)"
                              class="alert alert-danger">
                          <div *ngIf="dni.errors.minlength">{{ _VALIDACION.minimoSeis }}</div>    
                        </div>
                      </div>
                <div class="form-group col">
                    
                 <label for="nacimiento">{{ _LABEL.fechaNacimiento }}</label>
                 <ng-datepicker 
                                style="position: relative;z-index: 1000"
                                id="calendario"
                                [(ngModel)]="dateNac"
                                [options]="options"
                  ></ng-datepicker>
                 

                </div>
              </div>
              <div class="row">
                <div class="form-group col">
                  <label for="email">{{ _LABEL_R.email }}</label>
                  <input
                        id="email"
                        name="email"
                        class="form-control"
                        required
                        minlength="6"
                        type="text"
                        #email="ngModel"
                        [(ngModel)]="alumnoSeleccionado.email"
                        placeholder="Ingrese email"
                        [pattern]="_PATTERN.email"
                  >
                  
                  <div  *ngIf="email.invalid && (email.dirty || email.touched)"
                  class="alert alert-danger">
                  
                    <div *ngIf="email.errors.required">{{ _VALIDACION.emailRequerido }}</div>    
                    <div *ngIf="email.errors.minlength">{{ _VALIDACION.minimoSeis }}</div>    
                    <div *ngIf="email.errors.pattern">{{ _VALIDACION.emailValido }}</div>    
                  
                  </div>
                </div>
                <div class="form-group col">
                  <label for="telefono">{{ _LABEL.telefono }}</label>
              
                  <input  
                          class="form-control"
                          [(ngModel)]="alumnoSeleccionado.telefono"
                          type="number"
                          placeholder="Ingrese teléfono"
                          name="telefono"
                          #telefono="ngModel"
                          id="telefono"
                          >
                </div>

              </div>
              <button class="btn btn-primary float-right " (click)="guardar()">
                <span *ngIf="edicion">{{ _LABEL.guardar }}</span>
                <span *ngIf="!edicion">{{ _LABEL.agregar }}</span>
              </button>
          </div>
    </div>
  
    </div>
    <div class="p-0">
        <div class="bg-light">

            <div class="input-group py-4 col-5">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">{{ _LABEL.filtrar }}</span>
                </div>
                
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="busqueda">

                <div class="input-group-append">
                  <button class="btn btn-success" (click)="nuevoAlumno()"><span>{{ _LABEL.nuevoAlumno }}</span></button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover bg-light">
                    <thead class="thead-light">
                      <tr>
                        <th>{{ _LABEL.alumno }}</th>
                        <th>{{ _LABEL.telefono }}</th>
                        <th>{{ _LABEL.email }}</th>
                        <th>{{ _LABEL.dni }}</th>
                        <th>{{ _LABEL.acciones }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let alumno of alumnos" >
                        <td> {{ alumno.nombre }}  {{ alumno.apellido }}</td>
                        <td> {{ alumno.telefono }} </td>
                        <td> {{ alumno.email }} </td>
                        <td>  {{ alumno.dni }}</td>
                        <td>
                          <span class="btn btn-info mr-2" >
                            <i class="fas fa-file-signature"></i>
                          </span>
                          <button class="btn btn-success mr-2" (click)="alumnoSeleccionado.copiar(alumno);editarAlumno();">
                            <i class="fas fa-user-edit"></i>
                          </button>
                          <button class="btn btn-danger" (click)="alumnoSeleccionado = alumno; mostrarDialogoEliminar()">
                            <i class="fas fa-user-times"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
    </div>
  </div>  
</div>




<dialogo-confirmacion 
                      *ngIf="mostrarDialogoBorrar"
                      (clickBotonCerrar)="ocultarDialogo()"
                      (clickBotonIzquierdo)="ocultarDialogo()"
                      (clickBotonDerecho)="eliminar()"
                      [titulo]="_LABEL.bajaAlumno"
                      [texto]="textoDlgEliminar"
                      >

</dialogo-confirmacion>
<ng4-loading-spinner></ng4-loading-spinner>
