.dialogoEdicion{
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: rgb(104, 104, 104,0.3);
}

.card{
    -moz-box-shadow:0 0 8px 0 black !important;
    -webkit-box-shadow:0 0 8px 0 black !important;
    box-shadow:0 0 8px 0 black !important;
}




.ngx-datepicker-position-bottom-right{
    border: solid 1px red !important;
}

.popUpInscripcion{
    width: 500px;
    height: 230px;
    margin: auto;
    margin-top: 100px;
}

.tituloInscripcion{
    border-bottom: 1px solid rgb(104, 104, 104,0.3);
}

.table-responsive{
    max-height: 78vh;
    overflow-y: auto;
}
  
.contenedorTablaCursada{
    height: 150px;
    overflow-y: scroll;
    width: 700px;
}