<div class="contenedor-formulario">
  <div class="contenedor">
  <div class="formulario">

      <div style="max-height: 70vh; overflow-y: scroll;overflow-x: hidden;">
        <div class="row">
          <div class="form-group col">
            <label for="nombre">{{ _LABEL_REQUIRED.nombre }}</label>
            <input
              #nombre = "ngModel"
              class="form-control"
              type="text"
              required
              minlength="3"
              maxlength="30"
              [(ngModel)]="instructorSeleccionado.nombre"
              [placeholder]="_LABEL.ingrese.nombre"
              [pattern]="_PATTERN.nombre"
            >
            <div  *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
              <div *ngIf="nombre.errors.required">{{ _VALIDACION.requerido.nombre }}</div>
              <div *ngIf="nombre.errors.pattern">{{ _VALIDACION.valido.nombre }}</div>
              <div *ngIf="nombre.errors.minlength">{{ _VALIDACION.minimoTres }}</div>
            </div>
          </div>
          <div class="form-group col">
            <label for="apellido">{{ _LABEL_REQUIRED.apellido }}</label>

            <input #apellido = "ngModel"
                   class="form-control"
                   type="text"
                   required
                   minlength="3"
                   maxlength="30"
                   [(ngModel)]="instructorSeleccionado.apellido"
                   [placeholder]="_LABEL.ingrese.apellido"
                   [pattern]="_PATTERN.nombre"
            >
            <div  *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="alert alert-danger">
              <div *ngIf="apellido.errors.required">{{ _VALIDACION.requerido.apellido }}</div>
              <div *ngIf="apellido.errors.pattern">{{ _VALIDACION.valido.apellido }}</div>
              <div *ngIf="apellido.errors.minlength">{{ _VALIDACION.minimoTres }}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col">
            <label for="username">{{ _LABEL_REQUIRED.username }}</label>
            <input
              #username = "ngModel"
              class="form-control"
              type="text"
              required
              minlength="3"
              maxlength="30"
              [(ngModel)]="instructorSeleccionado.username"
              [placeholder]="_LABEL.ingrese.username"
            >
            <div  *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
              <div *ngIf="username.errors.required">{{ _VALIDACION.requerido.username }}</div>
              <div *ngIf="username.errors.pattern">{{ _VALIDACION.valido.username }}</div>
              <div *ngIf="username.errors.minlength">{{ _VALIDACION.minimoTres }}</div>
            </div>
          </div>

          <div class="form-group col">
            <label for="password">{{ _LABEL_REQUIRED.password }}</label>
            <input #password = "ngModel"
                   class="form-control"
                   type="password"
                   required
                   minlength="6"
                   maxlength="30"
                   [(ngModel)]="instructorSeleccionado.password"
                   [placeholder]="_LABEL.ingrese.password">
            <div  *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
              <div *ngIf="password.errors.required">{{ _VALIDACION.requerido.password }}</div>
              <div *ngIf="password.errors.minlength">{{ _VALIDACION.minimoSeis }}</div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="form-group col">
            <label for="dni">{{ _LABEL_REQUIRED.dni }}</label>
            <input
              #dni = "ngModel"
              class="form-control"
              type="text"
              required
              minlength="6"
              maxlength="9"
              [(ngModel)]="instructorSeleccionado.dni"
              [placeholder]="_LABEL.ingrese.dni"
              [pattern]="_PATTERN.dni"
            >
            <div  *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="alert alert-danger">
              <div *ngIf="dni.errors.required">{{ _VALIDACION.requerido.dni }}</div>
              <div *ngIf="dni.errors.pattern">{{ _VALIDACION.valido.dni}}</div>
              <div *ngIf="dni.errors.minlength">{{ _VALIDACION.minimoSeis }}</div>
            </div>
          </div>
          <div class="form-group col">
            <label for="telefono">{{ _LABEL_REQUIRED.telefono }}</label>
            <input
              #telefono="ngModel"
              class="form-control"
              type="text"
              required
              [(ngModel)]="instructorSeleccionado.telefono"
              [placeholder]="_LABEL.ingrese.telefono"
              [pattern]="_PATTERN.telefono"
            >
            <div  *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
              <div *ngIf="telefono.errors.required">{{ _VALIDACION.requerido.telefono }}</div>
              <div *ngIf="telefono.errors.pattern">{{ _VALIDACION.valido.telefono }}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="email">{{ _LABEL_REQUIRED.email }}</label>
            <input
              #email="ngModel"
              class="form-control"
              type="email"
              required
              [(ngModel)]="instructorSeleccionado.email"
              [placeholder]="_LABEL.ingrese.email"
              [pattern]="_PATTERN.email"
            >
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
              <div *ngIf="email.errors.required">{{ _VALIDACION.requerido.email }}</div>
              <div *ngIf="email.errors.pattern">{{ _VALIDACION.valido.email }}</div>
            </div>
          </div>

          <div class="form-group col">
            <h6>{{ _LABEL.areaPreferencia }}</h6>
            <p-multiSelect [options]="areas" [(ngModel)]="selectedAreas" optionLabel="nombre" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>

          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="">{{ _LABEL.estudios }}</label>
            <textarea
              name=""
              id=""
              rows="2"
              class="form-control"
              maxlength="200"
              required
              [(ngModel)]="instructorSeleccionado.estudios"
              [placeholder]="_LABEL.ingreseEstudios"
            ></textarea>
          </div>
        </div>
        <div class="row"><div class="form-group col">
          <label for="">{{ _LABEL.horarioCursada }} &nbsp; </label>

          <label for=""><button class="btn btn-success " type="button" (click)="addFieldValue()"> <i class="fas fa-plus"></i></button>
          </label>



          <table  style="border:hidden;">
            <thead>
            <tr>
              <th>Dia</th>
              <th>Hora Inicio</th>
              <th>Hora Fin</th>
              <th> </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let field of fieldArray; let i = index">
              <td>
                <select class="custom-select" [(ngModel)]="field.dia"  type="text" name="{{field.dia}}">
                  <option *ngFor="let dia of dias" [value]="dia.dia">
                    {{ dia.dia }}
                  </option>
                </select>
              </td>
              <td>
                <p-calendar [(ngModel)]="field.horaInicio"   name="{{field.horaInicio}}" [timeOnly]="true" hourFormat="24"></p-calendar>

              </td>
              <td>
                <p-calendar [(ngModel)]="field.horaFin"  name="{{field.horaFin}}" [timeOnly]="true" hourFormat="24"></p-calendar>
              </td>
              <td>

                <button class="btn btn-danger"  type="button" (click)="deleteFieldValue(i)"><i class="fas fa-minus"></i></button>
              </td>
            </tr>
            <tr>
              <td>
                <select class="custom-select" id="newAttributeDia" [(ngModel)]="newAttribute.dia"  type="text" name="newAttributeDia">
                  <option *ngFor="let dia of dias" [value]="dia.dia">
                    {{ dia.dia }}
                  </option>
                </select>
              </td>
              <td>
                <p-calendar [(ngModel)]="newAttribute.horaInicio" id="newAttributehoraInicio"   name="newAttributehoraInicio" [timeOnly]="true" hourFormat="24"></p-calendar>

              </td>
              <td>
                <p-calendar [(ngModel)]="newAttribute.horaFin" id="newAttributehoraFin"  name="newAttributehoraFin" [timeOnly]="true" hourFormat="24"></p-calendar>

              </td>

              <td>
                <button class="btn btn-danger"  type="button" (click)="deleteAtributteValue()"><i class="fas fa-minus"></i></button>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
        </div>
      </div>

    <div class="pr-4 pb-5">
      <button
        class="btn btn-primary float-left "
        [disabled]="blankSpaces() || nombre.invalid || apellido.invalid || dni.invalid || email.invalid || telefono.invalid || password.invalid || username.invalid"
        (click)="guardar()">
        <span *ngIf="!edicion">{{ _LABEL.crear }}</span>
      </button>
    </div>
</div>

  </div>
</div>



<dialogo-info *ngIf="mostrarSuccessDialogo"
              (clickBotonCerrar)="ocultarSuccessDialogo()"
              (clickBotonOk)="ocultarSuccessDialogo()"
              [titulo]="dlg2.titulo"
              [texto]="dlg2.texto">
</dialogo-info>
